<%= render partial: 'spree/shared/trackers/google_tag_manager_purchase' %>
<main class="page-contents">
  <div class="checkout-wrapper">
      <div class="row no-gutters">
        <div class="col-lg-6 position-relative overflow-hidden">
          <div class="wrap">
            <div class="checkout-confirmation">
              <h1 class="title">You’re all set!</h1>
              <% if order_just_completed?(@order) %>
                <p>Your order <%= @order.number %> will ship shortly. We’ll email you as soon as we have a tracking number at <%= @order.email %></p>
              <% else %>
                <p>Order #: <%= @order.number %></p>
              <% end %> 
            </div>
          </div>
          <canvas id="canvas"></canvas>
        </div>
        <div class="col-lg-6">
            <div class="wrap">
              <div class="discounted-product">
                <div class="product-img mb-10"><a href="https://www.yummatchatea.com/"><%= image_tag 'yum-matcha-tea.jpg', alt: 'Yum Matcha Tea' %></a></div>
                <a href="https://www.yummatchatea.com/" class="btn btn-primary btn-block">Try our Pineapple Yum Matcha Tea</a></div>
              </div>
            </div>
          </div>
      </div>
    </div>
</main>