  <ol class="breadcrumb mb-35">
    <li class="breadcrumb-item"><%= link_to "Cart", cart_path, title: "Cart" %></li>
    <li class="breadcrumb-item">Address</li>
    <li class="breadcrumb-item">Shipping</li>
    <li class="breadcrumb-item">Payment</li>
  </ol>
  <% if spree_current_user.present? %>
    <div class="cart-header d-flex align-items-center justify-content-between">
      <h5>Contact information</h5>
    </div>
    <div class="registered-user d-flex align-items-center justify-content-between mb-45"> 
      <span><%= spree_current_user.email %></span> 
      <%= link_to  destroy_spree_user_session_path do %>
        Log Out 
      <% end %>
    </div>
  <% else %>
    <div class="if-registered phone-visible"> <span>Already Registered?</span> 
      <%= link_to new_spree_user_session_path , :class => 'btn btn-primary' do %>
        Log in   
      <% end %>
    </div>
    <div class="cart-header d-flex align-items-center justify-content-between">
      <h5>Contact information</h5>
      <div class="if-registered phone-hide"> <span>Already Registered?</span> 
        <%= link_to new_spree_user_session_path , :class => 'btn btn-primary' do %>
          Log in   
        <% end %> 
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group form-floating mb-10">
          <%= form.email_field :email, class: 'form-control', required: true, placeholder: 'E-mail*' %>
          <%= form.label :email, "E-mail*" %>
        </div>
        <div class="custom-checkbox mb-60">
          <label>
            <input type="checkbox" class="custom-control-input" checked>
            <!--<span class="custom-control-label"></span>Keep me up to date on news and offers</label>-->
            By clicking "Next Step", you agree to our <%= link_to "Terms & Conditions", terms_and_conditions_path %> &amp; <%= link_to "Privacy Policy", privacy_path %>, including receipt of emails and promotions.
        </div>
      </div>
    </div>
  <% end %>
  <div class="cart-header d-flex align-items-center justify-content-between">
    <h5>Shipping Address</h5>
  </div>
  <% selected_ship_address_id = -1 %>
  <% if spree_current_user.present? 
    if @order.errors.count > 0
      selected_ship_address_id = -1
    else 
      selected_ship_address_id = select_user_available_addresses(@order.ship_address_id)
    end
  %>
    <div class="form-group form-floating mb-5">
      <select class="custom-select address-select-change-js ">
        <% user_available_addresses.each_with_index do |address, idx| %>
          <option value= "shipping_address__<%=address.id%>" <%= (address.id == selected_ship_address_id ? 'selected' : '') %>>
            <%= render "spree/users/address", address: address %>
          </option>
        <% end %>
        <option value= "new_address_selected" <%= (selected_ship_address_id == -1 ? 'selected' : '') %>>
          New Address
        </option>
      </select>
      <label>
        My Addresses
      </label>
    </div>
  <% end %>
  <% ['shipping'].each do |address_type|
  address_name = "#{address_type[0...4]}_address" %>
  <div  data-hook="<%= address_type %>_fieldset_wrapper">
    <div id="<%= address_type %>" data-hook>
      <% if user_available_addresses.present? %>
        <div class="select_address mb-5">
          <div class="form-group col">
            <% user_available_addresses.each_with_index do |address, idx| %>
              <div class="row" id="<%= [address_type, dom_id(address)].join('_') %>">
                <label class="form-check-label spree-radio-label col-8 d-none">
                  <%= form.radio_button "#{address_name}_id", address.id, checked: (address.id == selected_ship_address_id), class: "shipping_address__#{address.id} d-none" %>
                  <span class="spree-radio-label-custom-input"></span>
                    <%= render "spree/users/address", address: address %>
                </label>
                <%#= render "spree/users/address_controls", address: address %>
              </div>
            <% end %>
            <div class="row">
              <label class="form-check-label spree-radio-label col">
                <%= form.radio_button "#{address_name}_id", 0, checked: (selected_ship_address_id == -1), class: 'form-check-input d-none' %>
                <span class="spree-radio-label-custom-input"></span>
              </label>
            </div>
          </div>
        </div>
      <% end %>
      <%= form.fields_for address_name do |address_form| %>
        <div class="inner checkout-content-inner" data-hook='<%= "#{address_type}_inner" %>'>
          <div class="row">
            <%= render partial: 'spree/addresses/form', locals: {
              address_name: address_name,
              address_form: address_form,
              address_type: address_type,
              address: @order.ship_address,
              form: form
            } %>
          </div>
        </div>
      <% end %>
    </div>
  </div>  
  <% end %>
  <div class="custom-checkbox request_coa">
    <label>
      <%= form.check_box :request_coa, class: "custom-control-input" %>
      <span class="custom-control-label"></span><strong>Request COA</strong> (Certificate of Analysis for B2B)
    </label>
  </div>
<button type="button" class="btn btn-primary btn-block design-submit-next-step">Next Step: <strong>Choose Delivery</strong></button>
<%= hidden_field_tag 'save_user_address', (selected_ship_address_id ? false : true), data: { hook: "save_user_address" } %>