<% content_for :head do %>
<script type="text/javascript">
  function parseCurrencyToFloat(input, formatOptions) {
    return accounting.unformat(input, formatOptions.decimal)
  }

  function totalInsuranceAmount(newInsuranceTotal, oldInsuranceTotal) {
    return newInsuranceTotal - oldInsuranceTotal
  }

  function readjustSummarySection(routeInsuranceTotal, routeInsuranceContainer, orderTotalContainer, mobileOrderTotalContainer, formatOptions, insuranceSelected, orderTotal, newInsuranceTotal, oldInsuranceTotal) {
    routeInsuranceTotal.html(accounting.formatMoney(accounting.toFixed(newInsuranceTotal, 10), formatOptions));
    if (insuranceSelected) {
      routeInsuranceContainer.removeClass('route-insurance-hide')
    } else {
      routeInsuranceContainer.addClass('route-insurance-hide')
    }

    var newOrderTotal = orderTotal + totalInsuranceAmount(newInsuranceTotal, oldInsuranceTotal)
    mobileOrderTotalContainer.html('My Cart / ' + accounting.formatMoney(accounting.toFixed(newOrderTotal, 10), formatOptions))
    orderTotalContainer.html(accounting.formatMoney(accounting.toFixed(newOrderTotal, 10), formatOptions))
  }

  function routeUpdate(insuranceSelected) {
    orderTotalContainer = $('#summary-order-total');
    mobileOrderTotalContainer = $('#mobile-cart-summary-header-order-total');
    routeInsuranceContainer = $('.route-insurance-container');
    routeInsuranceTotal = $('[data-hook="route-insurance-total"]');
    orderRouteInsuranceSelected = $('#order_route_insurance_selected');
    orderRouteInsurancePrice = $('#order_route_insurance_price');

    formatOptions = {
      symbol: routeInsuranceTotal.data('currency'),
      decimal: routeInsuranceTotal.attr('decimal-mark'),
      thousand: routeInsuranceTotal.attr('thousands-separator'),
      precision: routeInsuranceTotal.attr('precision')
    }

    if (insuranceSelected == 0) {
      orderRouteInsuranceSelected.val(false);
      orderRouteInsurancePrice.val('0.0');
    } else if (insuranceSelected == 1) {
      orderRouteInsuranceSelected.val(true);
      orderRouteInsurancePrice.val(<%= @order.route_insurance_quote_premium %>);
    }

    readjustSummarySection(
      routeInsuranceTotal, routeInsuranceContainer, orderTotalContainer, mobileOrderTotalContainer, formatOptions,
      insuranceSelected,
      parseCurrencyToFloat(orderTotalContainer.html(), formatOptions),
      orderRouteInsurancePrice.val(),
      parseCurrencyToFloat(routeInsuranceTotal.html(), formatOptions)
    );
  }

  $(document).on('turbolinks:load', function() {
    window.Route.Protection.render({
      storeDomain: "<%= current_store.url %>",
      subtotal: <%= @order.item_total %>,
      currency: "<%= current_currency %>",
      environment: window.Route.Environment.Production,
      status: <% if @order.route_insurance_selected || @order.route_insurance_selected.nil? %>window.Route.Coverage.ActiveByDefault<% else %>window.Route.Coverage.InactiveByDefault<% end %>,
      merchantId: "<%= Rails.configuration.x.route.merchant_id %>",
      theming: {
        mode: window.Route.Theme.Mode.LightMode,
        alignment: window.Route.Theme.Alignment.Left
      }
    });
    
    window.Route.Protection.on("status_change", function (event) {
      routeUpdate(event.to);
    });

    <% if @order.route_insurance_selected.nil? %>
    routeUpdate(1);
    <% end %>
  });
</script>
<% end %>

<div id="shipping-method" data-hook>
  <ol class="breadcrumb mb-20">
    <li class="breadcrumb-item"><%= link_to "Cart", cart_path, title: "Cart" %></li>
    <li class="breadcrumb-item"><a href="/checkout/address" data-turbolinks="false">Address</a></li>
    <li class="breadcrumb-item">Shipping</li>
    <li class="breadcrumb-item">Payment</li>
  </ol>
  <div id="methods" data-turbolinks="false"> 
    <%= form.fields_for :shipments do |ship_form| %>
      <div class="address-shipping-wrap" data-hook="shipping_method_inner" >
        <div class="address-wrap" id="shipToLocation">
          <%= checkout_edit_link %>
          <h5>Address</h5>
          <%= render 'spree/shared/address', address: @order.ship_address %>
        </div>
      </div>
      <div class="route-div route-widget"></div>
      <%= form.hidden_field :route_insurance_selected %>
      <%= form.hidden_field :route_insurance_currency %>
      <%= form.hidden_field :route_insurance_price %>
      <div class="cart-header d-flex align-items-center justify-content-between mb-0">
        <h5>Shipping</h5>
      </div>
      <ul class="shipping-options">
        <%
          sorted_shipping_rates = sort_shipping_rates_local_pickup_last(ship_form.object.shipping_rates) 
          sorted_shipping_rates.each do |rate|
        %>
          <li>
            <div class="custom-radio">
              <label>
                <%= ship_form.radio_button :selected_shipping_rate_id,
                rate.id,
                data: {
                  behavior: 'shipping-method-selector',
                  cost: rate.display_cost,
                  tax: rate.display_tax_amount
                }, class: 'custom-control-input' %>
                <span class="custom-control-label"></span><%= rate.name %></label>
            </div>
            <div class="shipping-price"><%= rate.display_cost %></div>
          </li>
        <% end %>
      </ul>
      <% if sorted_shipping_rates.count == 1 && sorted_shipping_rates[0].shipping_method.calculator.class.name == "Spree::Calculator::Shipping::LocalPickupCalculator" %>
      <p>This order exceeds the standard weight limit.<br/>For custom shipping rates, contact us at <a href="tel:1-714-744-3700">1-714-744-3700</a> or email us at <a href="mailto:customerservice@naturesflavors.com" target="_blank" alt="ailto:customerservice@naturesflavors.com">customerservice@naturesflavors.com</a>.</p>
      <% end %>
    <% end %>
    <% if Spree::Config[:shipping_instructions] %>
    <div id="faqaccordion" class="shipping-accordion">
      <div id="minstrs" class="shipping-instructions" data-hook>
        <button type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true">Add Shipping Instructions</button>
        <div id="collapseTwo" class="collapse" data-parent="#faqaccordion" style="">
          <%= form.text_area :special_instructions, cols: 40, rows: 2, class: "form-control" %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
<button type="button" class="btn btn-primary btn-block design-submit-next-step" >Next Step: <strong>Payment</strong></button>