<!-- <div id="payment" data-hook>
  <p class="payment-type checkout-content-header">
    <%#= Spree.t(:payment_type).upcase %>
  </p>

  <div data-hook="checkout_payment_step">
    <%#= render partial: 'spree/checkout/payment/storecredit' %>

    <ul id="payment-method-fields" class="list-unstyled position-relative" data-hook>
      <%# checkout_available_payment_methods.each do |method| %>
        <li class="radio">
          <%#= label_tag '', class: "form-check-label spree-radio-label payment-option", data: { type: method.id == @payment_sources&.first&.payment_method_id ? 'card' : nil } do %>
            <%#= radio_button_tag "order[payments_attributes][][payment_method_id]",
                                 method.id,
                                 method.id == @order.payments.checkout.last&.payment_method_id || method == checkout_available_payment_methods.first %>
            <span class="spree-radio-label-custom-input"></span>
            <%#= Spree.t(method.name, scope: :payment_methods, default: method.name) %>
          <%# end %>
        </li>
      <%# end %>
    </ul>

    <div class="payment-sources">
      <%#= render partial: 'payment_sources' if @payment_sources.present? %>

      <ul id="payment-methods" class="list-unstyled position-relative mb-0 payment-sources-add-form" data-hook>
        <%# checkout_available_payment_methods.each do |method| %>
          <li id="payment_method_<%#= method.id %>" class="<%#= 'last' if method == checkout_available_payment_methods.last %>" data-hook>
            <fieldset>
              <%#= render partial: "spree/checkout/payment/#{method.method_type}", locals: { payment_method: method } %>
            </fieldset>
          </li>
        <%# end %>
      </ul>
    </div>
  </div>
</div> -->
<ol class="breadcrumb mb-20">
  <li class="breadcrumb-item"><%= link_to "Cart", cart_path, title: "Cart" %></li>
  <li class="breadcrumb-item"><a href="/checkout/address" data-turbolinks="false">Address</a></li>
  <li class="breadcrumb-item"><a href="/checkout/delivery" data-turbolinks="false">Shipping</a></li>
  <li class="breadcrumb-item">Payment</li>
</ol>
<div class="address-shipping-wrap">
  <div class="address-wrap"> <!-- <a href="#">Edit</a> -->
    <h5>Address</h5>
    <%= render 'spree/shared/address', address: @order.ship_address %>
    <%= checkout_edit_link %>
  </div>
  <div class="shipping-wrap">
    <h5>Shipping</h5>
    <%= checkout_edit_link('delivery') %>
    <% @order.shipments.valid.each do |shipment| %>
      <dd><%= shipment.shipping_method&.name %> </dd>
    <% end %>
  </div>
</div>
<div id="payment" data-hook>
  <div data-hook="checkout_payment_step">
    <ul id="payment-method-fields" class="payment-options" data-hook>
      <% checkout_available_payment_methods.each do |method| %>
      <% is_non_cim = method.type.parameterize == "spree-gateway-authorizenet" ? "d-none" : "" %>
        <li class="<%= is_non_cim %> <%= method.type.parameterize %>" id="<%= method.type.parameterize %>-new"  >
          <div class="custom-radio">
            <%= label_tag '', class: "", data: { type: method.id == @payment_sources&.first&.payment_method_id ? 'card' : nil } do %>
              <%= radio_button_tag "order[payments_attributes][][payment_method_id]",
                                   method.id,
                                   method.id == @order.payments.checkout.last&.payment_method_id || method == checkout_available_payment_methods.first, class: "custom-control-input #{method.type.parameterize}" %>
              <span class="custom-control-label"></span>
              <span class="<%= method.type.parameterize %>-name"><%= Spree.t(method.name, scope: :payment_methods, default: method.name) %></span>
            <% end %>
          </div>
          <% if ALLOWED_CC_TYPES_FOR_CHECKOUT.include?(method.type.parameterize) %>
            <%= image_tag "payments-icon.svg" %>
          <% elsif method.type.parameterize == "spree-gateway-paypalexpress" %>
            <%= link_to paypal_express_url(:payment_method_id => method.id), method: :post, :id => "paypal_button" do %>
              <%= image_tag "paypal-icon.svg" %>
            <% end %>  
          <% else %>
             <%= image_tag "check-icon.svg" %>
          <% end %>
        </li>
      <% end %>
    </ul>
    <div class="payment-sources">
      <%= render partial: 'payment_sources' if @payment_sources.present? %>
      <ul id="payment-methods" class="list-unstyled position-relative mb-0 payment-sources-add-form" data-hook>
        <% checkout_available_payment_methods.each do |method| %>
          <li id="payment_method_<%= method.id %>" class="<%= 'last' if method == checkout_available_payment_methods.last %>" data-hook>
            <fieldset>
              <%= render partial: "spree/checkout/payment/#{method.method_type}", locals: { payment_method: method } %>
            </fieldset>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="cart-header d-flex align-items-center justify-content-between mb-0">
    <h5>Billing address</h5>
  </div>
  <% 
    if request.parameters[:order_use_shipping_checked].present?
      if request.parameters[:order_use_shipping_checked].to_b
        order_use_shipping_checked = true
      else
        order_use_shipping_checked = false
      end
    else
      order_use_shipping_checked = true
    end
  %>
  <ul class="payment-options mb-0">
    <li>
      <div class="custom-checkbox">
        <label>
          <%= check_box_tag 'order[use_shipping]', 1, order_use_shipping_checked, { class: 'custom-control-input' } %>
          <span class="custom-control-label"></span>Same as shipping address
        </label>
      </div>
    </li>
  </ul>
  <% selected_bill_address_id = -1 %>
  <% if spree_current_user.present? 
    if @order.errors.count > 0
      selected_bill_address_id = -1
    else 
      selected_bill_address_id = @order.ship_address_id
    end
  %>
  <div class="row">
    <div class="col-sm-12">
      <div class="select_billing_address form-group form-floating mb-20 d-none">
        <select class="custom-select billing-address-select-change-js">
          <% user_available_addresses().each_with_index do |address, idx| %>
            <option value= "billing_address__<%=address.id%>" <%= (address.id == selected_bill_address_id ? 'selected' : '') %>>
              <%= render "spree/users/address", address: address %>
            </option>
          <% end %>
          <option value= "new_address_selected" <%= (selected_bill_address_id == -1 ? 'selected' : '') %>>
            New Address
          </option>
        </select>
        <label>
          My Addresses
        </label>
      </div>
    </div>
  </div>
  <% end %>
  <% ['billing'].each do |address_type|
  address_name = "#{address_type[0...4]}_address" %>
  <div class="<%= address_type %>_fieldset_wrapper" data-hook="<%= address_type %>_fieldset_wrapper">
    <div id="<%= address_type %>" data-hook>
      <% if user_available_addresses.present? %>
        <div class="select_address mb-5">
          <div class="form-group col">
            <% user_available_addresses.each_with_index do |address, idx| %>
              <div class="row" id="<%= [address_type, dom_id(address)].join('_') %>">
                <label class="form-check-label spree-radio-label col-8 d-none">
                  <%= form.radio_button "#{address_name}_id", address.id, checked: (address.id == selected_bill_address_id), class: "billing_address__#{address.id} d-none" %>
                  <span class="spree-radio-label-custom-input"></span>
                    <%= render "spree/users/address", address: address %>
                </label>
              </div>
            <% end %>
            <div class="row">
              <label class="form-check-label spree-radio-label col">
                <%= form.radio_button "#{address_name}_id", 0, checked: (selected_bill_address_id == -1), class: 'form-check-input d-none' %>
                <span class="spree-radio-label-custom-input"></span>
              </label>
            </div>
          </div>
        </div>
      <% end %>
      <%= form.fields_for address_name do |address_form| %>
        <div class="inner checkout-content-inner" data-hook='<%= "#{address_type}_inner" %>'>
          <div class="row">
            <%= render partial: 'spree/addresses/form', locals: {
              address_name: address_name,
              address_form: address_form,
              address_type: address_type,
              address: @order.bill_address,
              form: form
            } %>
          </div>
        </div>
      <% end %>
    </div>
  </div>  
  <% end %>
  <button type="button" class="btn btn-primary btn-block design-submit-next-step">Next Step: <strong>Pay</strong></button>
</div>
<%
  if request.parameters[:save_user_address].present?
    if request.parameters[:save_user_address].to_b
       save_user_address_checked = true
    else
      save_user_address_checked = false
    end
  else
    if selected_bill_address_id
      save_user_address_checked = false
    else
      save_user_address_checked = true
    end
  end 
%>
<%= hidden_field_tag 'save_user_address', save_user_address_checked, data: { hook: "save_user_address" } %>
<%= hidden_field_tag 'order_use_shipping_checked', order_use_shipping_checked, data: { hook: "order_use_shipping_checked" } %>