<div class="order-summary mb-60 empty-cart-area " data-hook="order_summary">
<ul class="cart-items">
      <li class="cart-item line-item cart-edit"><%= link_to "Edit Cart", cart_path, class: "cart-edit-button" %></li>
    <% order.line_items.each do|s| %>
      <% variant = s.variant %>
      <li class="cart-item line-item empty-cart-area cart-line-item-container-<%= s.id %> shopping-cart-item " data-lineitem-id="<%= s.id %>"  >
        <!--<button type="button" class="btn btn-primary remove-btn popup-cart-delete js-line-item-delete-btn-<%#= s.id %>  " data-line-item-id= "<%#= s.id %>"  >Close</button>-->
        <%
          if variant.product.images.count > 0
            img = variant.product.images.first.my_cf_image_url(:small)
          elsif variant.images.count > 0
            img = variant.images.first.my_cf_image_url(:small)
          else
            img = asset_path('noimage/default-product-image-small.jpg')
          end
        %>
        <% product_or_variant_first_img = image_tag(img) %>
        <%= link_to product_or_variant_first_img, spree.product_path(variant.product), class:'thumbnail' %>
        <div class="cart-item-details d-flex flex-column justify-content-between ">
          <h4>
            <%= link_to spree.product_path(variant.product) do%>
              <%= s.name %> - <%= s.variant.option_values.pluck(:presentation).join(",")%>
            <% end %>
              </h4>
          <div class="price-size text-right"><span><%= s.quantity %>x<%= s.single_money.to_html%></span><%= s.display_amount.to_html unless s.quantity.nil? %> </div>
        </div>
      </li>
    <% end %>
  </ul>

  <%= render 'coupon_code', promotion: @order.valid_coupon_promotions.first, order_form: order_form, classes: '' %>
    <ul class="cart-totals">
      <li>
        <label><%= Spree.t(:subtotal) %>:</label>
        <span><div class="d-table-cell text-right js-product-total"><%= order.display_item_total.to_html %></div></span> </li>
        <% if order.line_item_adjustments.nonzero.exists? %>
          <li> 
          <label><%#= label %></label>
          <span><% order.line_item_adjustments.nonzero.promotion.eligible.group_by(&:label).each do |label, adjustments| %>
          <div class="d-table-cell text-right"><%= Spree::Money.new(adjustments.sum(&:amount), currency: order.currency).to_html %>                      
          </div>
          <% end %></span> </li>
        <% end %>
      
       <% order.all_adjustments.nonzero.tax.eligible.group_by(&:label).each do |label, adjustments| %>
        <li>
         <label><div><%= label %></label>
          <span><% tax_total = Spree::Money.new(adjustments.sum(&:amount), currency: order.currency) %>
          <div class="d-table-cell text-right"
               data-hook='tax-total'
               data-currency='<%= Money::Currency.find(order.currency).symbol %>'
               data-non-shipment-tax='<%= adjustments.reject{ |adj| adj.adjustable_type== 'Spree::Shipment'}.sum(&:amount) %>'
               thousands-separator='<%= tax_total.thousands_separator %>'
               decimal-mark='<%= tax_total.decimal_mark %>'
               precision='<%= Money::Currency.find(order.currency).exponent %>'>
            <%= tax_total.to_html %>
          </div></span></li>
        <% end %>
      <li> 
      <label><%= Spree.t(:shipping) %>:</label>
      <% if order.state == "address" %>
        <span>Calculated in next step</span>
      <% else %>  
        <span>
          <% if order.passed_checkout_step?("address") && order.shipments.any? %>
          <% if order.has_free_shipping? %>                      
            <div class="d-table-cell text-right" data-hook="is-free-shipping"><%= Spree.t(:free) %></div>
          <% else %>                      
            <% shipping_total = Spree::Money.new(order.shipments.to_a.sum(&:cost), currency: order.currency) %>
            <div class="d-table-cell text-right"
                data-hook='shipping-total'
                data-currency='<%= Money::Currency.find(order.currency).symbol %>'
                thousands-separator='<%= shipping_total.thousands_separator %>'
                decimal-mark='<%= shipping_total.decimal_mark %>'
                precision='<%= Money::Currency.find(order.currency).exponent %>'>
              <%= shipping_total.to_html %>
            </div>
            <% if order.shipment_adjustments.nonzero.exists? %>
              <% order.shipment_adjustments.nonzero.promotion.eligible.group_by(&:label).each do |label, adjustments| %>
                <div class="d-table-cell"><%= label %>:</div>
                <div class="d-table-cell text-right">
                  <%= Spree::Money.new(adjustments.sum(&:amount), currency: order.currency).to_html %>
                </div>
              <% end %>
            <% end %>
          <% end %>
        <% end %></span>
      <% end %>  
      </li>
      <% if order.adjustments.nonzero.eligible.exists? %>
        <% order.adjustments.nonzero.eligible.each do |adjustment| %>
          <% next if (adjustment.source_type == 'Spree::TaxRate') and (adjustment.amount.zero?) %>
          <li>
            <label><%= adjustment.label %></label>
            <span>
                <div class="d-table-cell total text-right">
                  <%= adjustment.display_amount.to_html %>
                </div>
              </span>
          </li> 
        <% end %>                  
      <% end %>
      <% if order.using_store_credit? %>
      <li>
        <label><%= Spree.t(:store_credit_name) %></label>
        <span>
          <div class="d-table-cell text-right">
            <span id='summary-store-credit'>
              <%= order.display_total_applied_store_credit.to_html %>
            </span>
          </div>
        </span>
      </li>  
      <% end %>
      <li> 
        <label><%= Spree.t(:total) %>:</label>                
        <strong><div class="checkout-content-summary-table-order-total">                     
          <div class="d-table-cell text-right">
            <span id='summary-order-total' data-currency="<%= Money::Currency.find(order.currency).symbol %>" class= "js-order-total" >
              <%= order.display_total.to_html %>
            </span>
          </div>
        </div></strong>                    
      </li>
      <% if order.using_store_credit? %>
      <li> 
        <label>Amount to be Charged:</label>                
        <strong><div class="checkout-content-summary-table-order-total">                     
          <div class="d-table-cell text-right">
            <span>
              <%= Spree::Money.new(order.order_total_after_store_credit, currency: order.currency) %>
            </span>
          </div>
        </div></strong>                    
      </li>
      <% end %>
    </ul>
</div>