<%# @body_id = 'checkout-page' %>

<%#
content_for :head do
  agent = request.env['HTTP_USER_AGENT']
  if agent =~ /Safari/ && !(agent =~ /Chrome/)
%>
  <!-- <script>
    if (!!window.performance && window.performance.navigation.type === 2) {
      window.location.reload();
    }
    window.onpageshow = function(event) {
      if (event.persisted) {
        window.location.reload()
      }
    }
  </script>
<%#
  end
end
%>

<div id="checkout" class="container checkout" data-hook>
  <%#= render partial: 'spree/shared/error_messages', locals: { target: @order } %>

  <div class="row align-items-center flex-column checkout-header" data-hook="checkout_header">
    <div class="text-uppercase checkout-header-title">
      <h1 data-hook="checkout_title"><%#= Spree.t('checkout_page.header') %></h1>
    </div>
    <div class="checkout-progress" data-hook="checkout_progress" role="navigation" aria-label="<%#= Spree.t('checkout_page.checkout_navigation') %>">
      <%#= checkout_progress %>
    </div>
  </div>

  <div class="row checkout-content" data-hook="checkout_content">
    <%#= form_for @order, url: spree.update_checkout_path(@order.state), html: { id: "checkout_form_#{@order.state}", class: "w-100 d-lg-flex align-items-lg-baseline  flex-wrap position-relative" } do |form| %>
      <div class="<%#= if @order.state != 'confirm' then 'col-lg-6' else 'col-md-12' end %>" data-hook="checkout_form_wrapper">
        <%#= form.hidden_field :state_lock_version %>
        <%#= render @order.state, form: form %>
      </div>

      <%# unless @order.confirm? %>
        <div id="checkout-summary" class="col-md-12 col-lg-auto" data-hook="checkout_summary_box">
          <div class="checkout-summary-container position-sticky">
            <%#= render partial: 'summary', locals: { order: @order } %>
            <div data-hook="buttons">
              <%# submit_label_key = @order.confirm? ? :place_order : :save_and_continue %>
              <%#= submit_tag Spree.t(submit_label_key), class: 'btn btn-primary text-uppercase font-weight-bold w-100 checkout-content-save-continue-button' %>
            </div>
          </div>
        </div>
      <%# end %>
    <%# end %>
  </div>
</div>

<script>
  window.addEventListener('DOMContentLoaded', function() {
    Spree.current_order_id = "<%#= @order.number %>"
    Spree.current_order_token = "<%#= @order.token %>"
  })
</script> -->
<% @body_id = 'checkout-page' %>
<%
content_for :head do
  agent = request.env['HTTP_USER_AGENT']
  if agent =~ /Safari/ && !(agent =~ /Chrome/)
%>
  <script>
    if (!!window.performance && window.performance.navigation.type === 2) {
      window.location.reload();
    }
    window.onpageshow = function(event) {
      if (event.persisted) {
        window.location.reload()
      }
    }
  </script>
<%
  end
end
%>
<main class="page-contents">
  <div class="checkout-wrapper">
    <div class="row flex-row-reverse no-gutters">
      <%= form_for @order, url: spree.update_checkout_path(@order.state), html: { id: "checkout_form_#{@order.state}", class: "w-100 d-lg-flex  flex-wrap position-relative" } do |form| %>
      <div class="<%= if @order.state != 'confirm' then 'col-lg-6'  end %>" data-hook="checkout_form_wrapper">
        <%= form.hidden_field :state_lock_version %>
        <%= render @order.state, form: form %>
      </div>
        <div class="col-lg-6">
          <div class="mobile-cart-summary-header phone-visible">
            <h4>My Cart / $52.87</h4>
            <button type="button" class="show-cart-summary"><span>Show</span></button>
          </div>
          <div class="wrap mobile-cart-summary d-flex flex-column justify-content-between h-100" id="checkout-summary" data-hook="checkout_summary_box">
            <% unless @order.confirm? %>
              <%= render partial: 'summary', locals: { order: @order } %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="cart-icon phone-hide"></div>
  </div>
</main>

<script>
  window.addEventListener('DOMContentLoaded', function() {
    Spree.current_order_id = "<%= @order.number %>"
    Spree.current_order_token = "<%= @order.token %>"
  })
</script>
<script>
  AOS.init();
</script> 

<!-- For mobile menu --> 
<script>
  const slinky = $('#menu').slinky({title:true});
</script> 

<!-- Bootstrap popver --> 
<script>
  $(function () {
    $('[data-toggle="popover"]').popover();
  })
</script> 
<script>
  $('.close-menu').on('click', function(e) {
    $('.mobile-menu').toggleClass("show");
    e.preventDefault();
  });
</script> 
<script>
  $('.sub-menu > li').click(function(e){
    e.stopPropagation();
	$(this).toggleClass('active');
    $(this).children('div').slideToggle();
    $(this).closest('.parent').siblings().children('div').slideUp();
  });
</script> 
<script>
  $(document).ready(function() {
    $('#videos-slider').lightSlider({
        item: 2,
        loop: false,
        slideMove: 1,
        easing: 'cubic-bezier(0.25, 0, 0.25, 1)',
        speed: 600,
		slideMargin: 120,
		enableTouch: true,
		pager: false,
		onSliderLoad: function (el) {
		  var parent = el.parent();
		  var action = parent.find('.lSAction');
		  action.insertBefore(parent);
	    },
        responsive : [
        {
          breakpoint:1199,
          settings: {
            slideMargin: 40,
          }
        },
        {
          breakpoint:991,
          settings: {
            item:2,
            slideMove:1,
            slideMargin: 30
          }
        },
        {
          breakpoint:575,
          settings: {
            item:1,
            slideMargin:20
          }
        }
      ]
    });
  });
</script> 
<script>
  $(document).ready(function() {
    $('#blog-slider').lightSlider({
        item: 2,
        loop: false,
        slideMove: 1,
        easing: 'cubic-bezier(0.25, 0, 0.25, 1)',
        speed: 600,
		slideMargin: 120,
		enableTouch: true,
		pager: false,
        onSliderLoad: function (el) {
		  var parent = el.parent();
		  var action = parent.find('.lSAction');
		  action.insertBefore(parent);
	    },
        responsive : [
        {
          breakpoint:1199,
          settings: {
            slideMargin: 40,
          }
        },
        {
          breakpoint:991,
          settings: {
            item: 2,
            slideMove: 1,
            slideMargin: 30
          }
        },
        {
          breakpoint:575,
          settings: {
            item: 1,
            slideMargin: 20
          }
        }
      ]
    });
  });  
</script> 
<script>
  $(document).ready(function() {
    $('#reviews-slider').lightSlider({
        item: 3,
        loop: false,
        slideMove: 1,
        easing: 'cubic-bezier(0.25, 0, 0.25, 1)',
        speed: 600,
		slideMargin: 0,
		enableTouch: true,
		pager: false,
        onSliderLoad: function (el) {
		  var parent = el.parent();
		  var action = parent.find('.lSAction');
		  action.insertBefore(parent);
	    },
        responsive : [
        {
          breakpoint:1199,
          settings: {
            item: 2,
            slideMove: 1,
          }
        },
        {
          breakpoint:767,
          settings: {
            item: 1,
            slideMove: 1,
          }
        }
      ]
    });
  });  
</script> 
<script>
  $('.nav-cart').on('click', function(e) {
    $('.nav-search').removeClass('active');
    $('.mobile-search-menu').removeClass('active');
    $('.mobile-menu').removeClass('show');
    $('.sidebar-menu-wrapper .overlay').removeClass('active');
    // actual function
    $('.mobile-menu-link').addClass('collapsed');
    $('.cart-sidebar').toggleClass("active");
    $('.nav-cart').toggleClass("active");
    $('.cart-sidebar-wrapper .overlay').toggleClass("active");
    $('body').removeClass("hide-scroll");
  e.preventDefault();
  });
    
  $('.close-sidebar-btn').on('click', function(e) {
    $('.nav-cart').toggleClass("active");
    $('.cart-sidebar').toggleClass("active");
    $('.cart-sidebar-wrapper .overlay').toggleClass("active");
    $('body').removeClass("hide-scroll");
  e.preventDefault();
  });
    
  $('.cart-sidebar-wrapper .overlay').on('click', function(e) {
    $('.nav-cart').toggleClass("active");
    $('.cart-sidebar').toggleClass("active");
    $('.cart-sidebar-wrapper .overlay').toggleClass("active");
    $('body').removeClass("hide-scroll");
  e.preventDefault();
  });
</script> 
<script>
  $('.mobile-menu-link').on('click', function(e) {
    $('.nav-search').removeClass('active');
    $('.mobile-search-menu').removeClass('active');
    $('.nav-cart').removeClass('active');
    $('.cart-sidebar').removeClass('active');
    $('.cart-sidebar-wrapper .overlay').removeClass('active');
    $('body').removeClass("hide-scroll");
  });
</script> 
<script>
  $('.nav-search').on('click', function(e) {
    if($('.nav-cart').hasClass('active')){
      $('.nav-cart').removeClass('active');
    }
    if($('.cart-sidebar').hasClass('active')){
      $('.cart-sidebar').removeClass('active');
    }
    if($('.cart-sidebar-wrapper .overlay').hasClass('active')){
      $('.cart-sidebar-wrapper .overlay').removeClass('active');
    }
    if($('.mobile-menu').hasClass('show')){
      $('.mobile-menu').removeClass('show');
    }
    $('.mobile-menu-link').addClass('collapsed');
    $('.mobile-search-menu').toggleClass("active");
    $('.nav-search').toggleClass("active");
  e.preventDefault();
  });
</script>
<script>    
  $('.show-cart-summary').on('click', function(e) {
    $('.show-cart-summary').toggleClass("clicked");
    $('.mobile-cart-summary').toggleClass("show");
    e.preventDefault();
  });
</script>
