<% is_product_available_in_currency = product_available_in_currency? %>
<% default_variant = default_variant(@variants, @product) %>
<div class="product-side-details d-flex flex-column justify-content-between h-100"  >
  <div class="top-detail" >
    <% if @product&.sale_prices&.active&.present? %>
      <div class="deal-expiry-wrap" id="deals-expiry" data-SalesExpiryDate="<%=  sale_date_time_counter(@product.lowest_expiry_at&.end_at)%>">
      </div>
    <% end %>
    <%= form_for :order, html: {
      id: 'add-to-cart-form',
      class: 'add-to-cart-form',
      'data-product-summary': @product_summary.to_json,
      'data-variants': product_variants_matrix(is_product_available_in_currency),
      'data-variant-change-trigger-identifier': variant_change_identifier
      } do |f| %>
      <div class="product-options-header d-flex align-items-center justify-content-between" id="inside-product-cart-form" data-hook="inside_product_cart_form">
        <div class="right">
          <div class="text-center text-md-left" id="product_variant_sku">
            <%#= default_variant.sku %>
          </div>
        </div>
      </div>
      <% if @product.variants_and_option_values(current_currency).any? %>
        <% if Spree::OptionType.joins(option_values: :variants).where(variants: {product_id: @product} ).uniq.count > 1 %>
        <% kllas = ""%>
        <% else %>
        <% kllas = "size-availability"%>
        <% end %>
      <% end %>
      <ul class="<%= kllas%>" id="product-variants">
        <% if @product.variants_and_option_values(current_currency).any? %>
          <% if Spree::OptionType.joins(option_values: :variants).where(variants: {product_id: @product} ).uniq.count > 1 %>
            <ul id="product-variants" class="product-variants list-unstyled">
              <% used_variants_options(@variants, @product).each_with_index do |option_type, index| %>
                <li>
                  <% if color_option_type_name.present? && color_option_type_name == option_type[:name] %>
                    <%= render "color_option_type", option_type: option_type, index: index, default_variant: default_variant.sku %>
                  <% else %>
                    <%= render "option_type", option_type: option_type, index: index %>
                  <% end %>
                </li>
              <% end %>
            </ul>
            <div class="left  add-to-cart-form-price price selling"  id="product-price"  data-hook="product_price1">
              <span content="<%= current_currency %>"></span>
              <% if default_variant.on_sale? %>
                <del><%= display_original_price(default_variant) %></del><%= default_variant.active_sale_in(current_currency).display_price %>
              <% else %>
                <%= display_price(default_variant) %>
              <% end %>
            </div>
          <% else %>
            <div class="d-flex">
              <span> Choose your option</span>
              <span class="text-center text-md-left" id="js_product_variant_sku">
              </span>
            </div>
            <% @product.variants_and_option_values(current_currency).each_with_index do |variant, index| %>  
              <li class="d-flex flex-wrap align-items-center justify-content-between product-ov-js js-variant-list <%= index == 0 ? 'active' : '' %>"
                data-varient-id="<%= variant.id %>" data-varient-sku="<%= variant.sku %>" data-btn-varient-price="<%= variant.price_in(current_currency).money %>" >
                <% option_value = variant.option_values.first %>
                <div class="left  add-to-cart-form-price price selling"  id="product-price"  data-hook="product_price1">
                  <span content="<%= current_currency %>"></span>
                  <% if variant.on_sale? %>
                    <del><%= display_original_price(variant) %></del><%= variant.active_sale_in(current_currency).display_price %>
                  <% else %>
                    <%= display_price(variant) %>
                  <% end %>
                </div>
                <div class="right">
                  <%= option_value&.presentation %>
                  <% default_id = @product.variants.present? ? @product.variants.first.id : @product.master.id %>
                  <%= hidden_field_tag "variant_id", default_id, id: "selected_variant" %>  
                </div>
              </li>
            <% end %>
          <% end %>
        <% else %>
          <%= hidden_field_tag "variant_id", @product.master.id %>
        <% end %>
      </ul>
      <!-- <div class="d-flex justify-content-end mb-5">
        <button type="button" class="btn btn-white expand-list">More Options</button>
      </div> -->
      <% if is_product_available_in_currency && @product.can_supply? %>
        <%= hidden_field_tag "variant_id", default_variant.id %>
        <div class="add-to-cart-wrap mb-30">
          <label>Quantity:</label>
          <div class="d-flex flex-wrap align-items-center">
            <%= render 'spree/shared/quantity_select', input_name: :quantity %>
            <%= button_tag class: 'btn btn-primary add-to-cart-button', id: 'add-to-cart-button', type: :submit do %>
              <span id="product_btn_variant_price" class="add-to-cart-variant"> <%= default_variant.price_in(current_currency).money %></span> -
              <%= Spree.t(:add_to_cart) %>
            <% end %>
          </div>
        </div>
      <%end%>
    <%end%>
  </div>
  <% if @best_sellers_product.present? %>
    <div class="cart-similar-item">
      <%= render partial: 'spree/shared/cart_similar_products', locals: { best_sellers_product: @best_sellers_product }  %>
    </div>  
  <% end %>  
</div>
<script type="text/javascript">
 $( document ).on('turbolinks:load', function() {
    var SalesExpiryDate= $('#deals-expiry').attr("data-SalesExpiryDate");
      
      var countDownDate = new Date(SalesExpiryDate).getTime();
      var x = setInterval(function() {
      

        var now = new Date().getTime();
        var distance = countDownDate - now;
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);
          
        $('#deals-expiry').html("<strong>Deal Expires in: <span>" + days + "</strong> day </span><span><strong>" + hours + "</strong> hours </span><strong><span>"
        + seconds + "</strong> seconds </span> ")
          
        if (distance < 0) {
          clearInterval(x);
          $('#deals-expiry').html("Expired ")
        }
      }, 1000);
  });
</script>