<!-- <template class="availability-template availability-template-not-available-in-currency">
  <%#= render 'cart_form_availability_templates', type: 'not-available-in-currency' %>
</template>

<template class="availability-template availability-template-in-stock">
  <%#= render 'cart_form_availability_templates', type: 'in-stock' %>
</template>

<template class="availability-template availability-template-backorderable">
  <%#= render 'cart_form_availability_templates', type: 'backorderable' %>
</template>

<template class="availability-template availability-template-out-of-stock">
  <%#= render 'cart_form_availability_templates', type: 'out-of-stock' %>
</template>

<%# is_product_available_in_currency = product_available_in_currency? %>
<%# default_variant = default_variant(@variants, @product) %>

<%#= form_for :order, html: {
    id: 'add-to-cart-form',
    class: 'add-to-cart-form',
    'data-product-summary': @product_summary.to_json,
    'data-variants': product_variants_matrix(is_product_available_in_currency),
    'data-variant-change-trigger-identifier': variant_change_identifier
  } do |f| %>
  <div id="inside-product-cart-form" data-hook="inside_product_cart_form">
    <%# if is_product_available_in_currency %>
      <div id="product-price" class="mb-2 text-center text-md-left add-to-cart-form-price" data-hook="product_price">
        <%# if should_display_compare_at_price?(default_variant) %>
          <span class="compare-at-price mr-3"><%#= display_compare_at_price(default_variant) %></span>
        <%# end %>
        <span class="price selling" content="<%#= @product_price.to_d %>">
          <%#= display_price(default_variant) %>
        </span>
        <span content="<%#= current_currency %>"></span>
      </div>
    <%# end %>

    <div class="text-center text-md-left add-to-cart-form-general-availability text-uppercase">
      <%#= Spree.t(:availability) %>:
      <%# if !is_product_available_in_currency %>
        <%#= render 'cart_form_availability_templates', type: 'not-available-in-currency' %>
      <%# elsif default_variant.in_stock? %>
        <%#= render 'cart_form_availability_templates', type: 'in-stock' %>
      <%# elsif default_variant.backorderable? %>
        <%#= render 'cart_form_availability_templates', type: 'backorderable' %>
      <%# else %>
        <%#= render 'cart_form_availability_templates', type: 'out-of-stock' %>
      <%# end %>
    </div>

    <%# if @product.variants_and_option_values(current_currency).any? %>
      <hr>
      <ul id="product-variants" class="product-variants">
        <%# used_variants_options(@variants, @product).each_with_index do |option_type, index| %>
          <li>
            <%# if color_option_type_name.present? && color_option_type_name == option_type[:name] %>
              <%#= render "color_option_type", option_type: option_type, index: index %>
            <%# else %>
              <%#= render "option_type", option_type: option_type, index: index %>
            <%# end %>
          </li>
        <%# end %>
      </ul>
    <%# end %>

    <%# if is_product_available_in_currency && @product.can_supply? %>
      <%#= hidden_field_tag "variant_id", default_variant.id %>

      <hr>
      <div>
        <div class="mb-5 mt-4 text-center text-md-left">
          <%#= render 'spree/shared/quantity_select', input_name: :quantity %>
        </div>

        <%#= button_tag class: 'btn btn-primary w-100 text-uppercase font-weight-bold add-to-cart-button', id: 'add-to-cart-button', type: :submit, disabled: true do %>
          <%#= Spree.t(:add_to_cart) %>
        <%# end %>
      </div>
    <%# end %>
  </div> -->
  <%# end %>
<% is_product_available_in_currency = product_available_in_currency? %>
<% default_variant = default_variant(@variants, @product) %>
<div class="product-side-details d-flex flex-column justify-content-between h-100"  >
  <div class="top-detail" >
    <% if @product.on_sale? %>
      <div class="deal-expiry-wrap" id="deals-expiry" data-SalesExpiryDate="<%=  sale_date_time_counter(@product.master&.sale_prices&.active&.last&.end_at)%>"></div>
    <% end %>
    <%= form_for :order, html: {
      id: 'add-to-cart-form',
      class: 'add-to-cart-form',
      'data-product-summary': @product_summary.to_json,
      'data-variants': product_variants_matrix(is_product_available_in_currency),
      'data-variant-change-trigger-identifier': variant_change_identifier
      } do |f| %>
      <div class="product-options-header d-flex align-items-center justify-content-between" id="inside-product-cart-form" data-hook="inside_product_cart_form">
        <div class="left">Choose your <strong>option:</strong></div>
        <div class="right">
          <div class="text-center text-md-left text-uppercase " id="product_variant_sku">
            <%= default_variant.sku %>
          </div>
        </div>
      </div>
      <ul class="size-availability" id="product-variants">
        <% if @product.variants_and_option_values(current_currency).any? %>
          <% @product.variants_and_option_values(current_currency).each_with_index do |variant, index| %>  
            <li class="d-flex flex-wrap align-items-center justify-content-between  product-ov-js <%= index == 0 ? 'active' : '' %>"
              data-varient-id="<%= variant.id %>" data-varient-sku="<%= variant.sku %>" data-btn-varient-price="<%= variant.price_in(current_currency).money %>" > 
            <% option_value = variant.size_options %>
              <div class="left  add-to-cart-form-price price selling"  id="product-price"  data-hook="product_price">
              <span content="<%= current_currency %>"></span> 
              <% if @product.on_sale? %> 
                <del><%= variant.price_in(current_currency).money %></del><%= display_price(@product) %><span>/ $6.29 per oz.</span>
              <% else %>
                <%= variant.price_in(current_currency).money %><span>/ $6.29 per oz.</span></div>
                <div class="right"> 
                  <%= option_value&.presentation %>
                  <%= radio_button_tag "variant_id",  variant.id, index == 0 ? true : false,
                          'data-price' => variant.price_in(current_currency).money,
                          'data-in-stock' => variant.can_supply?,
                          'data-backordered' => variant.backordered?,
                          style: "display:none"
                      %>
              <% end %>
          <% end%>
            </div>
        <% else %>
          <%= hidden_field_tag "variant_id", @product.master.id %>
            </li>
        <% end %>
      </ul>
      <div class="d-flex justify-content-end mb-5">
        <button type="button" class="btn btn-white expand-list">More Options</button>
      </div>
      <% if is_product_available_in_currency && @product.can_supply? %>
        <%= hidden_field_tag "variant_id", default_variant.id %>
        <div class="add-to-cart-wrap mb-30">
          <label>Quantity:</label>
          <div class="d-flex flex-wrap align-items-center">
            <%= render 'spree/shared/quantity_select', input_name: :quantity %>
            <%= button_tag class: 'btn btn-primary add-to-cart-button', id: 'add-to-cart-button', type: :submit do %>
              <span id="product_btn_variant_price" > <%= default_variant.price_in(current_currency).money %> - </span>
              <%= Spree.t(:add_to_cart) %>
            <% end %>
          </div>
        </div>
      <%end%>
    <%end%>
  </div>
  <%= render partial: 'spree/shared/cart_similar_products' %>
</div>