<div class="product-variants-variant product-variants-variant--color" data-option-type-id="<%= option_type[:id] %>">
  <% klass =  browser.device.mobile? ? "phone_label" : "" %>
  <div class="d-flex">
    <span class="d-block mb-2 text-center text-md-left product-variants-variant-title <%= klass %> left mr-2 font_small">
      Choose Your <%= option_type[:presentation] %>
    </span>
    <span class="right cart_variant ml-2">
      <%= default_variant.truncate(22)%>
    </span>
  </div>
  <div class="dropdown">
    <button class="btn option-values-dropdown dropdown-toggle js_color_value" type="button" data-toggle="dropdown">
      <%=option_type[:option_values].first[:name]%>
    </button>
    <ol class="dropdown-menu w-100 product-variants-variant-values">
      <% option_type[:option_values].each do |option_value| %>
          <li class="dropdown-item js_label_color" data-option-value-id= "variant_option_value_id_<%= option_type[:id]%>_<%= option_value[:id]%>">
            <%= label_tag "variant_option_value_id_#{option_type[:id]}_#{option_value[:id]}",
              class: "m-1 m-sm-2 m-md-1 color-select-label label-width",
              title: option_value[:name]&.humanize,
              data: { toggle: "tooltips", placement: "bottom" } do %>

              <%= radio_button_tag "variant_option_value_id_#{option_type[:id]}",
                option_value[:id],
                option_value[:is_default] && index == 0,
                class: "d-none product-variants-variant-values-radio",
                aria: { label: option_value[:name] },
                data: {
                  "option-type-index" => index,
                  "presentation" => option_value[:presentation],
                  "variant-id" => option_value[:variant_id],
                  "is-color" => true
                } %>

              <%= render partial: "spree/shared/color_select", locals: {
                color: option_value[:presentation],
                selected: false,
              } %>
              <label class="js-selected-label-color font-weight-bold" for="variant_option_value_id_<%= option_type[:id]%>_<%= option_value[:id]%>"class= "label-width" ><%= option_value[:name]&.humanize %></label>
            <% end %>
          </li>
        <% end %>
    </ol>
  </div>
</div>