<div class="product-variants-variant" data-option-type-id="<%= option_type[:id] %>">
  <% klass =  browser.device.mobile? ? "phone_label" : ""%>
  <span class="d-block mb-2 mt-4 text-center text-md-left product-variants-variant-title <%= klass %> font_small">
    Choose Your <%= option_type[:presentation] %>
  </span>
  <div class="dropdown">
    <button class="btn option-values-dropdown dropdown-toggle js_option_value_<%=option_type[:id]%> <%=option_type[:id]%>" type="button" data-toggle="dropdown" >
    <%=option_type[:option_values].first[:name]%>
    </button>
    <ol class="product-variants-variant-values dropdown-menu w-100 js_option_value_list">
      <% option_type[:option_values].each do |option_value| %>
        <li class="dropdown-item js_label_option_type"data-option-value-id="variant_option_value_id_<%= option_type[:id]%>_<%=option_value[:id]%>">
          <%= radio_button_tag "variant_option_value_id_#{option_type[:id]}",
            option_value[:id],
            option_value[:is_default] && index == 0,
            class: "d-none product-variants-variant-values-radio js_radio",
            data: {
              "option-type-index" => index,
              "option_type_id"=> "#{option_type[:id]}",
              "presentation" => option_value[:presentation],
              "variant-id" => option_value[:variant_id]
            } %>
          <%= label_tag "variant_option_value_id_#{option_type[:id]}_#{option_value[:id]}",
            class: "js_select_option_value m-1 select-label label-width variant_option_value_id_#{option_type[:id]}_#{option_value[:id]}",
            "aria-label" => option_value[:presentation],data:{dropdown_value_id:"#{option_type[:id]}"} do %>

            <span for="variant_option_value_id_<%=option_type[:id]%>_<%=option_value[:id]%>" class="label-width variant_option_value_id_<%= option_type[:id]%>_<%=option_value[:id]%>" data-dropdown-value-id="<%=option_type[:id]%>">
              <%= option_value[:presentation] %>
            </span>
          <% end %>
        </li>
      <% end %>
    </ol>
  </div>
</div>