<% content_for :head do %>
<!-- phone cart form deals expire -->
<script type="text/javascript" defer="defer">
  $(document).on('turbolinks:load', function() {
    $(".js_drop_down").click();
    $('body').click()
    var SalesExpiryDatePhone= $('#DealsExpiryPhone').attr("data-SalesExpiryDatePhone");
    var countDownDatePhone = new Date(SalesExpiryDatePhone).getTime();
    var x = setInterval(function() {
      var now = new Date().getTime();
      var distance = countDownDatePhone - now;
      var days = Math.floor(distance / (1000 * 60 * 60 * 24));
      var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
      if (!isNaN(days)) {
        $('#DealsExpiryPhone').html("<strong>Deal Expires in: <span>" + days + "</strong> day </span><span><strong>" + hours + "</strong> hours </span><strong><span>"
        + seconds + "</strong> seconds </span> ")
      }

      if (distance < 0) {
        clearInterval(x);
        $('#DealsExpiryPhone').html(" Expired ")
      }
    }, 1000);
  });
</script>
<% end %>
<% cache cache_key_for_product(@product) do %>
  <% is_product_available_in_currency = product_available_in_currency? %>
  <% default_variant = default_variant(@variants, @product) %>
  <div class="phone-visible">
    <% if @product&.sale_prices&.active&.present? %>
      <div class="deal-expiry-wrap" id="DealsExpiryPhone" data-SalesExpiryDatePhone="<%= sale_date_time_counter(@product.lowest_expiry_at&.end_at) %>"></div>
    <% end %>
    <%= form_for :order, html: {
      id: 'add-to-cart-form',
      class: 'add-to-cart-form',
      'data-product-summary': @product_summary.to_json,
      'data-variants': product_variants_matrix(is_product_available_in_currency),
      'data-variant-change-trigger-identifier': variant_change_identifier
      } do |f| %>
      <div class="product-options-header d-flex align-items-center justify-content-between" id="inside-product-cart-form" data-hook="inside_product_cart_form">
        <!-- <div class="left">Choose your <strong>option:</strong></div> -->
        <!-- <div class="right"> -->
          <div class="text-center text-md-left" id="product_variant_sku">
            <%#= default_variant.sku %>
          </div>
        <!-- </div> -->
      </div>
      
      <% if @variants_master_only_or_no_master.any? %>
        <% if Spree::OptionType.joins(option_values: :variants).where(variants: {product_id: @product} ).uniq.count > 1 %>
          <% kllas = ""%>
        <% else %>
          <% kllas = "size-availability"%>
        <% end %>
      <% end %>
      

      <div class="phone_dropdown <%= kllas%>">
        <% if @variants_master_only_or_no_master.any? %>
          <% if Spree::OptionType.joins(option_values: :variants).where(variants: {product_id: @product} ).uniq.count > 1 %>
            <ul id="product-variants" class="product-variants list-unstyled">
              <% used_variants_options(@variants, @product).each_with_index do |option_type, index| %>
                <li>
                  <% if color_option_type_name.present? && color_option_type_name == option_type[:name] %>
                    <%= render "color_option_type", option_type: option_type, index: index, default_variant: default_variant.sku %>
                  <% else %>
                    <%= render "option_type", option_type: option_type, index: index %>
                  <% end %>
                </li>
              <% end %>
            </ul>
            <div class=" add-to-cart-form-price price selling" data-hook="product_price1">
              <span content="<%= current_currency %>"></span>
              <% if default_variant.on_sale? %>
                <del><%= display_original_price(default_variant) %></del><%= default_variant.active_sale_in(current_currency).display_price %>
              <% else %>
                <%= display_price(default_variant) %>
              <% end %>
            </div>
          <% else %>

          <div class="product-options-header d-flex align-items-center justify-content-between">
            <div class="left"><%= @product.option_types.blank? ? 'Choose your option:' : "#{@product.option_types[0].presentation}:" %></div>
            <div class="right"><span id="js_selected_variantt_sku"><%= default_variant.sku%></span></div>
          </div>
            <%
              select_variant_id = params[:variant]&.to_i
              selected_variant_index = 0
              selected_variant_found = false
              if select_variant_id.present?
                @variants_master_only_or_no_master.each_with_index do |variant, index|
                  if select_variant_id == variant.id
                    selected_variant_index = index
                    selected_variant_found = true
                    break
                  end
                end
              end
            %>
            <ul id="product-variants" class="product-variants product-variants-variant list-unstyled">
            <% @variants_master_only_or_no_master.each_with_index do |variant, index| %>
              <!-- removed from mobile cart product-ov-js -->
              <li class="d-flex flex-wrap align-items-center justify-content-between product-ov-js js-variant-list <%= selected_variant_index == index ? 'active' : '' %>"
                data-variant-id="<%= variant.id %>" data-variant-sku="<%= variant.sku %>" data-btn-variant-price="<%= variant.price_in(current_currency).money %>" >
                <% option_value = variant.option_values.first %>
                <div class="multiple-options-right-price  add-to-cart-form-price price selling" data-hook="product_price1">
                  <span content="<%= current_currency %>"></span>
                  <% if variant.on_sale? %>
                    <del><%= display_original_price(variant) %></del><%= variant.active_sale_in(current_currency).display_price %>
                  <% else %>
                    <%= display_price(variant) %>
                  <% end %>
                </div>
                <div class="right">
                  <%= option_value&.presentation %>
                </div>
              </li>
            <% end %>
            </ul>
            <% default_id = selected_variant_found ? select_variant_id : (@product.variants.present? ? @product.variants.first.id : @product.master.id) %>
            <%= hidden_field_tag "variant_id", default_id, id: "selected_variant" %>
          <% end %>
        <% else %>
          <%= hidden_field_tag "variant_id", @product.master.id %>
        <% end %>
      </div>
      <% if is_product_available_in_currency && @product.can_supply? %>
        <div class="add-to-cart-wrap mb-30">
          <label>Quantity:</label>
          <div class="d-flex flex-wrap align-items-center">
            <%= render 'spree/shared/quantity_select', input_name: :quantity %>
            <%= button_tag class: 'btn btn-primary add-to-cart-button', id: 'add-to-cart-button', type: :submit do %>
              <%= Spree.t(:add_to_cart) %>
            <% end %>
          </div>
        </div>
      <%end%>
    <%end%>
  </div>
<% end %>