<% url = spree.product_path(product, taxon_id: @taxon&.id) %>
<div >
  <div class="product-wrap" id="product_<%= product.id %>">
    <%= link_to url do %>
      <% cache [common_product_cache_keys, product] do %>
        <div class="product-img">
          <%= plp_and_carousel_image(product, image_class) %>
          <div class="price"><%= display_price(product) %></div>
        </div>
        <div class="product-desc"title="<%#= product.name %>" >
          <h4> <%= product.name %></h4>
        </div>
      <% end %>
    <% end %>
  </div>
</div>