<%# @body_id = 'product-details' %>

<!-- <div class="container">
  <%#= spree_breadcrumbs(@taxon, '', @product) %>
</div>

<%# cache cache_key_for_product do %>
  <div class="container pt-4 product-details">
    <div class="row" data-hook="product_show">
      <%#= render partial: 'gallery' %>
      <div class="col-12 col-md-5" data-hook="product_right_part">
        <div id="product-description" data-hook="product_right_part_wrap">
          <h1 class="mt-3 mt-md-0 text-center text-md-left product-details-title">
            <%#= @product.name %>
          </h1>
          <div id="cart-form" data-hook="cart_form">
            <%#= render 'cart_form', variant_change_identifier: 'productCarousel' %>
          </div>
        </div>
      </div>
    </div>
    <div class="pb-4 pt-md-5 row" data-hook="product_description">
      <div class="col-12 col-md-7 col-lg-6">
        <%#= render partial: 'description' %>
      </div>
      <div class="d-none d-lg-block col-lg-1"></div>
      <div class="col-12 col-md-5" data-hook="product_properties">
        <%#= render partial: 'properties' %>
      </div>
      <div class="col-12" data-hook="promotions">
        <%#= render partial: 'promotions' %>
      </div>
    </div>

    <div id="no-product-available" class="no-product-available-dropdown">
      <%#= render partial: 'spree/shared/no_product_available' %>
    </div>

    <%#= render partial: 'gallery_modal' %>
  </div>
  <div id="related-products"></div> -->

  <%#= products_structured_data([@product]) %>

  <%#= render 'spree/shared/product_added_modal' %>
<%# end %>
<% @body_id = 'product-details' %>
<div
  data-related-products
  data-related-products-id="<%= @product.slug %>"
  data-related-products-enabled="<%= @product.respond_to?(:has_related_products?) %>" />
  <main class="page-contents">
  <div class="row no-gutters">
    <div class="col-xl-1 tablet-hide"></div>
    <div class="col-xl-8 col-lg-8">
      <div class="product-detail-wrapper">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item"><a href="#">Fragrances</a></li>
          <li class="breadcrumb-item"><a href="#">Fragrance Oils</a></li>
          <li class="breadcrumb-item active">Oil Soluble</li>
        </ol>
        <div class="title-wrap position-relative">
          <h1 class="title"> <%= @product.name %></h1>
          <div class="ratings">  <%= image_tag "star.svg", alt:'star' %> <%= image_tag "star.svg", alt:'star' %> <%= image_tag "star.svg", alt:'star' %> <%= image_tag "star.svg", alt:'star' %> <%= image_tag "star-off.svg", alt:'star' %><span>5 Reviews</span></div>
          <ul class="product-standards d-flex flex-wrap align-items-center phone-visible">
            <li class="glutenfree-icon" data-toggle="tooltip" data-placement="bottom" title="Gluten free">Gluten free</li>
            <li class="nongmo-icon" data-toggle="tooltip" data-placement="bottom" title="Non GMO">Non GMO</li>
            <li class="u-icon" data-toggle="tooltip" data-placement="bottom" title="U">u</li>
            <li class="vegan-icon" data-toggle="tooltip" data-placement="bottom" title="Vegan">Vegan</li>
          </ul>
        </div>
        <div class="product-desc-wrap">
          <div class="row">
            <%= render partial: 'gallery_modal' %>
            <div class="col-xl-5">
              <%= render partial: 'phone_cart' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: 'cart_form' %>
  <div class="product-tabs-wrapper">
    <div class="row no-gutters">
      <div class="col-xl-1 tablet-hide"></div>
      <%= render partial: 'properties' %>
      <%= render partial: 'related_products' %>
    </div> 
  </div>
  <%= render partial: 'customer_reviews' %>
  </div>
</main>


<script>
  AOS.init();
</script> 

<!-- For mobile menu --> 
<script>
  const slinky = $('#menu').slinky({title:true});
</script> 
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script> 
<script>
  $('.close-menu').on('click', function(e) {
    $('.mobile-menu').toggleClass("show");
    e.preventDefault();
  });
</script> 
<script>
  $('.sub-menu > li').click(function(e){
    e.stopPropagation();
	$(this).toggleClass('active');
    $(this).children('div').slideToggle();
    $(this).closest('.parent').siblings().children('div').slideUp();
  });
</script> 
<script>
  $(document).ready(function() {
    $('#videos-slider').lightSlider({
        item: 2,
        loop: false,
        slideMove: 1,
        easing: 'cubic-bezier(0.25, 0, 0.25, 1)',
        speed: 600,
		slideMargin: 120,
		enableTouch: true,
		pager: false,
		onSliderLoad: function (el) {
		  var parent = el.parent();
		  var action = parent.find('.lSAction');
		  action.insertBefore(parent);
	    },
        responsive : [
        {
          breakpoint:1199,
          settings: {
            slideMargin: 40,
          }
        },
        {
          breakpoint:991,
          settings: {
            item:2,
            slideMove:1,
            slideMargin: 30
          }
        },
        {
          breakpoint:575,
          settings: {
            item:1,
            slideMargin:20
          }
        }
      ]
    });
  });
</script> 
<script>
  $(document).ready(function() {
    $('#blog-slider').lightSlider({
        item: 2,
        loop: false,
        slideMove: 1,
        easing: 'cubic-bezier(0.25, 0, 0.25, 1)',
        speed: 600,
		slideMargin: 120,
		enableTouch: true,
		pager: false,
        onSliderLoad: function (el) {
		  var parent = el.parent();
		  var action = parent.find('.lSAction');
		  action.insertBefore(parent);
	    },
        responsive : [
        {
          breakpoint:1199,
          settings: {
            slideMargin: 40,
          }
        },
        {
          breakpoint:991,
          settings: {
            item: 2,
            slideMove: 1,
            slideMargin: 30
          }
        },
        {
          breakpoint:575,
          settings: {
            item: 1,
            slideMargin: 20
          }
        }
      ]
    });
  });  
</script> 
<script>
  $(document).ready(function() {
    $('#reviews-slider').lightSlider({
        item: 3,
        loop: false,
        slideMove: 1,
        easing: 'cubic-bezier(0.25, 0, 0.25, 1)',
        speed: 600,
		slideMargin: 0,
		enableTouch: true,
		pager: false,
        onSliderLoad: function (el) {
		  var parent = el.parent();
		  var action = parent.find('.lSAction');
		  action.insertBefore(parent);
	    },
        responsive : [
        {
          breakpoint:1199,
          settings: {
            item: 2,
            slideMove: 1,
          }
        },
        {
          breakpoint:767,
          settings: {
            item: 1,
            slideMove: 1,
          }
        }
      ]
    });
  });  
</script> 
<script>
  $('.nav-cart').on('click', function(e) {
    $('.nav-search').removeClass('active');
    $('.mobile-search-menu').removeClass('active');
    $('.mobile-menu').removeClass('show');
    $('.sidebar-menu-wrapper .overlay').removeClass('active');
    // actual function
    $('.mobile-menu-link').addClass('collapsed');
    $('.cart-sidebar').toggleClass("active");
    $('.nav-cart').toggleClass("active");
    $('.cart-sidebar-wrapper .overlay').toggleClass("active");
    $('body').removeClass("hide-scroll");
  e.preventDefault();
  });
    
  $('.close-sidebar-btn').on('click', function(e) {
    $('.nav-cart').toggleClass("active");
    $('.cart-sidebar').toggleClass("active");
    $('.cart-sidebar-wrapper .overlay').toggleClass("active");
    $('body').removeClass("hide-scroll");
  e.preventDefault();
  });
    
  $('.cart-sidebar-wrapper .overlay').on('click', function(e) {
    $('.nav-cart').toggleClass("active");
    $('.cart-sidebar').toggleClass("active");
    $('.cart-sidebar-wrapper .overlay').toggleClass("active");
    $('body').removeClass("hide-scroll");
  e.preventDefault();
  });
</script> 
<script>
  $('.mobile-menu-link').on('click', function(e) {
    $('.nav-search').removeClass('active');
    $('.mobile-search-menu').removeClass('active');
    $('.nav-cart').removeClass('active');
    $('.cart-sidebar').removeClass('active');
    $('.cart-sidebar-wrapper .overlay').removeClass('active');
    $('body').removeClass("hide-scroll");
  });
</script> 
<script>
  $('.nav-search').on('click', function(e) {
    if($('.nav-cart').hasClass('active')){
      $('.nav-cart').removeClass('active');
    }
    if($('.cart-sidebar').hasClass('active')){
      $('.cart-sidebar').removeClass('active');
    }
    if($('.cart-sidebar-wrapper .overlay').hasClass('active')){
      $('.cart-sidebar-wrapper .overlay').removeClass('active');
    }
    if($('.mobile-menu').hasClass('show')){
      $('.mobile-menu').removeClass('show');
    }
    $('.mobile-menu-link').addClass('collapsed');
    $('.mobile-search-menu').toggleClass("active");
    $('.nav-search').toggleClass("active");
  e.preventDefault();
  });
</script> 
<script>
  $(document).ready(function() {
    var showChar = 360;
	var ellipsestext = "...";
	var moretext = "more";
	var lesstext = "less";
	$('.more').each(function() {
	  var content = $(this).html();
	  if(content.length > showChar) {
        var c = content.substr(0, showChar);
        var h = content.substr(showChar-1, content.length - showChar);
        var html = c + '<span class="moreellipses">' + ellipsestext+ '&nbsp;</span><span class="morecontent"><span>' + h + '</span>&nbsp;<a href="" class="morelink">' + moretext + '</a></span>';
        $(this).html(html);
      }
    });

	$(".morelink").click(function(){
      if($(this).hasClass("less")) {
        $(this).removeClass("less");
        $(this).html(moretext);
      } else {
        $(this).addClass("less");
        $(this).html(lesstext);
      }
      $(this).parent().prev().toggle();
      $(this).prev().toggle();
      return false;
    });
  });
</script> 
<script>
  $(document).ready(function() {
    $('#product-gallery').lightSlider({
		gallery: true,
        item:1,
        loop:false,
		controls: false,
        slideMove:1,
        easing: 'cubic-bezier(0.25, 0, 0.25, 1)',
        speed:600,
		slideMargin:0,
		enableTouch: true,
		pager: true,
		thumbItem: 3,
        responsive : [
        {
          breakpoint:991,
          settings: {
            auto: true,
            loop: true,
          }
        },
      ]
    });  
  });
</script>