<h5> Add/Edit New Address </h5>
  <%= render 'spree/shared/error_messages', target: address %>
  <%= form_for address, html: { id: 'checkout_form_address', remote: true } do |f| %>
      <div class=" row inner">
        <%= render 'spree/addresses/form',
                   address_name: 'address',
                   address_form: f,
                   address_type: 'shipping',
                   address: address
        %>
      </div>
      <%= f.submit "Add Address", class: 'btn btn-primary' %>
      <% if address.persisted? %>
        <%= link_to "Delete This Address", spree.address_path(address), :method => :delete, :confirm => "Are you sure?", :remote => true, class: "btn btn-text" %>
      <% end %>
  <% end %>

