<% cache cache_key_for_taxon_show_top_level_subcategories(products, taxon) do %>
  <div class="main-category-wrap">
    <div class="row">
      <strong>Jump to: </strong>
      <% taxon.children.each do |category| %>
      <%= link_to category.name, "#sub-categories-preview-#{category.name}", data: { turbolinks: false }, 'aria-label' => "Go to #{category.name}"  %>
      <% end %>
    </div>
  </div>

  <div class="main-category-best">
    <ul>
      <li class="active-best">Most Popular</li>
      <li>in <%= taxon.name %></li>
     </ul>
  </div>
  <div class="row row-cols-xl-6 row-cols-lg-3 row-cols-sm-2 no-gutters">
    <% products.each_with_index do |product, index| %>
    <div class="col col-12">
      <div class="product-wrap" data-hook="top_level_subcategories_product_list_item">
        <%= link_to spree.product_path(product, taxon_id: @taxon&.id), data: { turbolinks: false } do %>
        <div class="product-img">
          <%= plp_and_carousel_image(product, 'product-component-plp-image') %>
          <div class="price">
            <% if product&.sale_prices&.active&.present? %>
              <span><%= display_original_price(product.lowest_sale_price.price.variant) %></span><%= product.lowest_sale_price.display_price %>
            <% else %>
              <%= display_price(product) %>
            <% end %>  
          </div>
        </div>
        <div class="product-desc" title="<%= product.name %>" >
          <div class="product-desc-title"><%= product.name %></div>
        </div>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>

  <div class="sub-categories">
    <div class="row row-cols-xl-3 row-cols-lg-2 row-cols-sm-1 no-gutters">
      <% taxon.children.each do |category| %>
      <div class="col col-12">
        <div class="sub-categories-preview" id="<%= "sub-categories-preview-#{category.name}" %>">
          <%= link_to seo_url(category), data: { turbolinks: false }, title: "All #{category.name} Products" do %>
            <% if browser.device.mobile? || !browser.device.tablet? %>
               <% if category.icon.present? %>
                  <%= image_tag category.icon.my_cf_image_url(:small), alt:"#{category.name} Image" %> 
               <% else %>
                  <%= image_tag "noimage/default-category-image-small.jpg", alt:"#{category.name} Image" %>
               <% end %>
            <% else %>
               <% if category.icon.present? %>
                  <%= image_tag category.icon.my_cf_image_url(:large), alt:"#{category.name} Image" %> 
               <% else %>
                  <%= image_tag "noimage/default-category-image.jpg", alt:"#{category.name} Image" %>
               <% end %>
            <% end %>
          <% end %>
          <h2><%= link_to category.name, seo_url(category), data: { turbolinks: false }, 'aria-label' => "List all #{category.name}" %></h2>
          <p><%= raw(category.short_description) %></p>
          <% if category.children %>
            <ul>
              <% category.children.each do |subcategory| %>
                <li><%= link_to subcategory.name, seo_url(subcategory), data: { turbolinks: false }, 'aria-label': "Subcategory #{subcategory.name}" %></li>
              <% end %>
            </ul>
          <% end %>
          <%= link_to seo_url(category), class: 'btn btn-primary', data: { turbolinks: false }, 'aria-label' => "See All #{category.name} Products" do %>
            <span>See All <%= category.name %></span>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
<% end %>