<% content_for :head do %>
  <%= pagy_rel_next_prev_link_tags @pagy %>
<% end %>
<% cache [cache_key_for_taxon_show, params[:sort_by]] do %>
  <div class="category-wrapper">
    <div class="row no-gutters">
      <div class="col-xl-2 col-lg-3 phone-hide">
        <div class="sidebar-categories">
          <div class="sidebar-categories-title">Categories:</div>
          <%= render partial: 'spree/shared/taxonomies', locals: { taxon: @taxon }%>
        </div>
      </div>
      <div class="col-xl-10 col-lg-9">
        <div class="products-wrapper">
          <div class="category-banner phone-visible">
            <% if browser.device.mobile? %>
               <% if @taxon.icon.present? %>
                  <%= image_tag @taxon.icon.my_cf_image_url(:small), alt:"#{@taxon.name}" %> 
               <% else %>
                  <%= image_tag "noimage/default-category-image-small.jpg", alt:"#{@taxon.name}" %>
               <% end %>
            <% else %>
               <% if @taxon.icon.present? %>
                  <%= image_tag @taxon.icon.my_cf_image_url(:large), alt:"#{@taxon.name}" %> 
               <% else %>
                  <%= image_tag "noimage/default-category-image.jpg", alt:"#{@taxon.name}" %>
               <% end %>
            <% end %>
          </div>
          <%= render partial: 'spree/taxons/introduction' %>
          <% if @is_top_level_menu_item %>
            <%= render partial: 'spree/taxons/top_level_subcategories', locals: { products: @products, taxon: @taxon } %>
          <% else %>
            <%= render partial: 'spree/taxons/filters' %>
            <%= render partial: 'spree/taxons/mobile_filters' %> 
            <%= render partial: 'spree/shared/products', locals: { pagy: @pagy, products: @products, taxon: @taxon } %>
          <% end %>
        </div>
        <% if !@is_top_level_menu_item %>
          <%= render partial: 'spree/taxons/pagination', locals: { pagy: @pagy, taxon: @taxon }  %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="category-intro-footer" id="footer-text">
    <% if @taxon.description.present? %>
      <span id="more-category-description" class="more">More about <%= @taxon.name %></span><br><br>
      <%= raw(@taxon.description) %>
    <% end %>
  </div>
  <% unless @products.empty? %>
    <%= products_structured_data(@products) %>
  <% end %>
<% end %>