<!-- <div class="taxon">
  <div class="container">
    <%= spree_breadcrumbs(@taxon) %>
    <%#= render 'header', taxon: @taxon %>
  </div>
  <%#= render 'subcategories', taxon: @taxon %>
  <div data-hook="taxon_products">
    <%#= render template: 'spree/products/index', colors: @colors, sizes: @sizes %>
  </div>
</div>
 -->
<main class="page-contents">
  <div class="category-wrapper">
    <div class="row no-gutters">
      <div class="col-xl-2 col-lg-3 phone-hide">
        <div class="sidebar-categories">
          <%= render partial: 'spree/shared/taxonomies'%>
        </div>
      </div>
      <div class="col-xl-10 col-lg-9">
        <div class="products-wrapper">
          <div class="category-banner phone-visible">
            <% if @taxon.icon.present? %>
               <%= image_tag main_app.url_for(@taxon.icon.attachment) %> 
            <% else %>
               <%= image_tag "noimage/default-category-image.jpg" %>
            <% end %>
          </div>
          <%= render partial: 'spree/taxons/introduction' %>
          <%= render partial: 'spree/taxons/filters' %>
          <%= render partial: 'spree/taxons/mobile_filters' %> 
          <%= render partial: 'spree/shared/products', locals: { products: @products, taxon: @taxon }%>
        </div>
        <%= render partial: 'spree/taxons/pagination', products: @products  %>
      </div>
    </div>
  </div>
</main>

