<!-- <div class="taxon">
  <div class="container">
    <%= spree_breadcrumbs(@taxon) %>
    <%#= render 'header', taxon: @taxon %>
  </div>
  <%#= render 'subcategories', taxon: @taxon %>
  <div data-hook="taxon_products">
    <%#= render template: 'spree/products/index', colors: @colors, sizes: @sizes %>
  </div>
</div>
 -->
<main class="page-contents">
  <div class="category-wrapper">
    <div class="row no-gutters">
      <div class="col-xl-2 col-lg-3 phone-hide">
        <div class="sidebar-categories">
          <h4>Categories:</h4>
          <ul class="sidebar-sub-categories">
            <li>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Flavor Extracts</a>
              <ul class="dropdown-menu">
                <li><a href="#">Organic Flavor Emulsions (heat stable)</a></li>
                <li><a href="#">Natural Flavor Emulsions (heat stable)</a></li>
              </ul>
            </li>
            <li><a href="#">Flavor Concentrate</a></li>
            <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Flavor Compund</a>
              <ul class="dropdown-menu">
                <li><a href="#">Organic Flavor Emulsions (heat stable)</a></li>
                <li><a href="#">Natural Flavor Emulsions (heat stable)</a></li>
              </ul>
            </li>
            <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Flavor Emulsions</a>
              <ul class="dropdown-menu">
                <li><a href="#">Organic Flavor Emulsions (heat stable)</a></li>
                <li><a href="#">Natural Flavor Emulsions (heat stable)</a></li>
              </ul>
            </li>
            <li><a href="#">Flavor Powders</a></li>
            <li><a href="#">Flavor Oils</a></li>
            <li><a href="#">Vanilla Extracts</a></li>
            <li><a href="#">Flavoring for Ice Cream</a></li>
          </ul>
        </div>
      </div>
      <div class="col-xl-10 col-lg-9">
        <div class="products-wrapper">
          <div class="category-banner phone-visible"><img src="assets/images/category-banner.jpg" alt=""></div>
          <%= render partial: 'spree/taxons/introduction' %>
          <%= render partial: 'spree/taxons/filters' %>
          <%= render partial: 'spree/taxons/mobile_filters' %> 
          <%= render partial: 'spree/shared/products', locals: { products: @products, taxon: @taxon }%>
      </div>
      <%= render partial: 'spree/taxons/pagination', products: @products  %> 
    </div>
  </div>
</main>

