<% self.title = "About Us" %>
<% meta_tag :description, "With over 9,000 natural and organic products, Nature's Flavors is a leader in nutritional wellness." %>
<main class="page-contents">
   <div class="deals-wrapper">

      <div class="title-wrap text-center">
        <div class="sm-title">About Us</div>
        <h1 class="title">We enjoy creating flavors. We have been doing it for over 40 years.<br>And we are good at it.</h1>
      </div>

      <div class="about_us_hero_image">
         <%= image_tag "about-us/creating-flavors.jpg", alt:"" %>
      </div>

      <!-- What We Do -->
      <div class="about_us_section">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6 grey_back">
               <h2>What We Do</h2>
               <p>We develop and produce custom flavors and fragrances for both consumers and businesses.</p>
               <p>We use only the highest quality natural ingredients, sourced from around the world, to construct our flavorings and fragrances.</p>
               <p>Our natural flavorings oils, concentrates, extracts, citric acids, and fragrance are used to enhance,  maintain, or improve the taste, aroma, color, or flavor of goods.</p>
            </div>
            <div class="col-lg-6 mobile-hide"><%= image_tag "about-us/lemonade.jpg", alt:"" %></div>
          </div>
        </div>
      </div>
      <!-- /.What We Do -->      

      <!-- History -->
      <div class="about_us_history">
      
         <div class="history_element">
            <div class="since">Since 1983</div>
            <h2>Our History</h2>
         </div>

         <div class="slider-wrapper reviews-wrap position-relative">
            <ul id="reviews-slider">
               <li data-aos="fade-up" data-aos-once="true"><%= image_tag "about-us/years_1.jpg", alt:"" %><h3>1983</h3><p>Nature’s Flavors was formed in 1983 by Bill Sabo as Newport Flavors in Southern California to provide custom-made natural and organic flavors.</p></li>
               <li data-aos="fade-up" data-aos-once="true"><%= image_tag "about-us/years_2.jpg", alt:"" %><h3>1983</h3><p>Place Holder Text Natures Flavors consists of 50+ skilled individuals, all of whom inherently provide an extraordinary. </p></li>
               <li data-aos="fade-up" data-aos-once="true"><%= image_tag "about-us/years_3.jpg", alt:"" %><h3>1983</h3><p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></li>
               <li data-aos="fade-up" data-aos-once="true"><%= image_tag "about-us/years_1.jpg", alt:"" %><h3>1983</h3><p>Nature’s Flavors was formed in 1983 by Bill Sabo as Newport Flavors in Southern California to provide custom-made natural and organic flavors.</p></li>
               <li data-aos="fade-up" data-aos-once="true"><%= image_tag "about-us/years_2.jpg", alt:"" %><h3>1983</h3><p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></li>
               <li data-aos="fade-up" data-aos-once="true"><%= image_tag "about-us/years_3.jpg", alt:"" %><h3>1983</h3><p>Nature’s Flavors was formed in 1983 by Bill Sabo as Newport Flavors in Southern California to provide custom-made natural and organic flavors.</p></li>               
            </ul>
         </div>

      </div>
      <!-- /.History -->


      <div class="about_us_hero_image">
         <%= image_tag "about-us/company.jpg", alt:"" %>
      </div>

      <!-- Why us -->
      <div class="about_us_section">
      <div class="container-fluid">
         <div class="row">
            <div class="col-lg-6 mobile-hide"><%= image_tag "about-us/why-us.jpg", alt:"" %></div>  
             <div class="col-lg-6 grey_back">
               <h2>Why us</h2>
               <p>We are a family-owned business. Our customer base ranges from individual buyers, to small and medium sized businesses, to Fortune 500 companies. But we still provide the expertise, flexibility, and personal attention of a family business.</p>
               <p>All our work is done in-house.  We manage everything internally from the development of new flavors through R&D, to the management of accounts, and through the entire sales process.</p>
               <p>Every product is backed by an experienced customer support team that assists with recipes, provides customer service, and makes certain our products are the freshest. </p>
            </div>
         </div>
      </div>
      </div>
   <!-- /.Why us -->    


      <div class="media-partners-wrapper our-brands">
         <div class="container">
         <div class="sm-title text-center">Our Brands:</div>
            <ul class="media-list d-flex flex-wrap align-items-center justify-content-center">
               <li><a href="https://naturesflavors.com"><%= image_tag "brand-natures-flavors.svg", alt:"Nature's Flavors" %></a></li>
               <li><a href="https://www.naturlax.com/" target="_blank"><%= image_tag "brand-naturlax.svg", alt:"Naturlax" %></a></li>
               <li><a href="https://www.seelecttea.com/" target="_blank"><%= image_tag "brand-seelect-tea.svg", alt:"Seelect Tea" %></a></li>
               <li><a href="https://www.yummatchatea.com/" target="_blank"><%= image_tag "brand-yum-matcha.svg", alt:"Yum Matcha Tea" %></a></li>
            </ul>
         </div>
      </div>


   </div>
</main>