<% self.title = "What Are Natural Flavors and Extracts?" %>
<% meta_tag :description, "Learn more about natural flavors and extracts, their best applications, and usage percentages. Make perfect products and never over, or under flavor your products again!" %>
<main class="page-contents">
   <div class="category-wrapper">
      <div class="row no-gutters">
         <div class="col-xl-2 col-lg-3 phone-hide">
            <div class="sidebar-categories">
               <h4>More Information:</h4>
               <ul class="sidebar-sub-categories">
                  <li><%= link_to('Flavor Powders', flavor_powders_path) %></li>
                  <li><%= link_to('Flavor Emulsions', flavor_emulsions_path) %></li>
                  <li><%= link_to('Flavor Concentrates', flavor_concentrates_path) %></li>
                  <li class="active"><%= link_to('Flavor Extracts', flavor_extracts_path) %></li>
                  <li><%= link_to('Flavor Oils', flavor_oils_path) %></li>
                  <li><a href="https://blog.naturesflavors.com/videos/" target="_blank">The Flavor Guy Videos</a></li>
                  <li><a href="#">Reviews</a></li>
                  <li><%= link_to('FAQs', faq_path) %></li>
               </ul>
            </div>
         </div>
         <div class="col-xl-7 col-lg-9">
            <div class="article-wrapper">
               <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active">What Are Natural Flavors and Extracts?</li>
               </ol>
               <h1 class="title mb-25">What Are Natural Flavors and Extracts?</h1>
               <div class="mobile-categories-wrap phone-visible">
                  <div class="header"><a href="#" class="mobile-category-toggle">More Information</a></div>
                  <ul class="sidebar-sub-categories">
                     <li><%= link_to('Flavor Powders', flavor_powders_path) %></li>
                     <li><%= link_to('Flavor Emulsions', flavor_emulsions_path) %></li>
                     <li><%= link_to('Flavor Concentrates', flavor_concentrates_path) %></li>
                     <li><%= link_to('Flavor Extracts', flavor_extracts_path) %></li>
                     <li><%= link_to('Flavor Oils', flavor_oils_path) %></li>
                     <li><a href="https://blog.naturesflavors.com/videos/" target="_blank">The Flavor Guy Videos</a></li>
                     <li><a href="#">Reviews</a></li>
                     <li><%= link_to('FAQs', faq_path) %></li>
                  </ul>
               </div>
               <!-- Artivle -->  
               <div class="articl-media">
                  <div class="embed-responsive embed-responsive-16by9">
                     <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/79FwSmSGHqE?rel=0" allowfullscreen></iframe>
                  </div>
               </div>
               <div class="banner-caption-wrap">
                  <div class="row">
                     <div class="col-md-7">
                        <p>Natural flavors and extracts come in many styles, colors, forms, and concentrations. Be sure to test the flavor out and ask us if you need help to determine starting amount for your application.</p>
                     </div>
                     <div class="col-md-5">
                        <div class="wrap">
                           <h5>Video Content</h5>
                           <p>Watch this video to learn about flavor extracts.</p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="block d-flex flex-wrap">
                  <div class="flex-fill">
                     <h2>PREMIUM FLAVORS AND EXTRACTS</h2>
                     <p>Nature's Flavors flavor extracts are made from the finest ingredients available. The Flavor Guy shops the world over for the purest and most unique natural and organic raw materials to bring you new and innovative flavors. These flavors will tantalize your taste buds!</p>
                  </div>
               </div>
               <div class="block d-flex flex-wrap">
                  <div class="flex-fill">
                     <h2>WHAT IS A NATURAL FLAVOR EXTRACT?</h2>
                     <p>Our Extracts are water soluble flavors made in a base of Natural Ethyl Alcohol. These all natural flavor extracts and organic flavor extracts are food grade, Kosher, vegan, gluten Free. They are best used in clear beverages, dairy products, and applications where you don't want to disturb the clarity/translucency. Our Flavor Extracts are of comparable strength with our Flavor Concentrates and Flavor Oils. You will need to experiment to achieve the perfect strength for flavoring your recipe, but once you finish you will be happy with the results.</p>
                  </div>
               </div>
               <div class="block d-flex flex-wrap">
                  <div class="flex-fill">
                     <h2>WHY USE A NATURAL FLAVOR EXTRACT INSTEAD OF A FLAVOR CONCENTRATE?</h2>
                     <p>Natures Flavors Natural Flavor Extracts and Natural Flavor Concentrates are very similar. They are both all natural and water soluble Products. The difference is that Concentrates have a cloudy/opaque look to them where as most Extracts are clear*. This property is due to the base that these flavors are set in. If your final application needs to be clear then we recommend a Flavor Extract. Flavor Concentrates are also more heat stable than extracts, so for baking you might want to look at concentrates. Flavor Extracts are in an alcohol base and will affect the freezing point of any recipe you put them into, while concentrates will not. *The few extracts that are not clear are mentioned on their product pages.</p>
                     <p>Flavor Extracts can be used in baking and clear beverages. Flavor Extracts are:</p>
                     <ul>
                        <li>Highly concentrated</li>
                        <li>Clear liquids</li>
                        <li>Water-based or Alcohol-based only</li>
                        <li>High heat stable</li>
                        <li>Alcohol bakes out at high temperatures</li>
                        <li>Ingredients - ethyl alcohol, natural and organic flavor</li>
                     </ul>
                  </div>
               </div>
               <div class="block d-flex flex-wrap">
                  <div class="flex-fill">
                     <div class="row">
                        <div class="col-md-6">
                           <h2>STARTING USAGE</h2>
                           <p>A good rule for starting usage is .25% by weight. Finding the perfect amount of Natural Flavor Extract for your recipe is an art form, and requires practice! First start with a small amount such as a .25% (up to 1%) of of your vanilla extract or flavor. Taste the vanilla flavor in the finished dough or ice cream. If the flavor tastes good and dissipates after 3 to 5 seconds, it's perfect! Note: if this a baked product and it has not been baked, you will need to add 10% more to compensate for the loss during baking. When making and freezing ice cream it is also possible the extract will become diluted due to the whipping of air into the product from the ice cream machine, and you may need to add additional extract.</p>
                        </div>
                        <div class="col-md-6">
                           <div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" src="https://www.youtube.com/embed/izzzYCEDWZM?rel=0" allowfullscreen></iframe></div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="attention-note">
                  <h2>OVERFLAVORING YOUR PRODUCT</h2>
                  <p>If at any time you notice a minty taste on your palate or a medicinal taste, you have over-flavored your product. Or, if you are burping the flavor up an hour or more after you have eaten the finished product then you have probably over flavored it. The trick to making a product taste good is to give just enough flavor to tease the taste buds, without overdoing it. That's what keeps them coming back for more.</p>
               </div>
            </div>
            <!-- /.Article --> 
         </div>
         <div class="col-xl-3 tablet-hide"></div>
      </div>
   </div>
</main>