<% self.title = "What are Flavor Oils?" %>
<% meta_tag :description, "Flavor Oils are used in Oil-based products, such as chocolate oil,  lip balm oil, candle making and even Scratch-n-Sniff artwork!" %>
<main class="page-contents">
   <div class="category-wrapper">
   <div class="row no-gutters">
      <div class="col-xl-2 col-lg-3 phone-hide">
         <div class="sidebar-categories">
            <h4>More Information:</h4>
            <ul class="sidebar-sub-categories">
               <li><%= link_to('Flavor Powders', flavor_powders_path) %></li>
               <li><%= link_to('Flavor Emulsions', flavor_emulsions_path) %></li>
               <li><%= link_to('Flavor Concentrates', flavor_concentrates_path) %></li>
               <li><%= link_to('Flavor Extracts', flavor_extracts_path) %></li>
               <li class="active"><%= link_to('Flavor Oils', flavor_oils_path) %></li>
               <li><a href="https://blog.naturesflavors.com/videos/" target="_blank">The Flavor Guy Videos</a></li>
               <li><a href="#">Reviews</a></li>
               <li><%= link_to('FAQs', faq_path) %></li>
            </ul>
         </div>
      </div>
      <div class="col-xl-7 col-lg-9">
         <div class="article-wrapper">
            <ol class="breadcrumb">
               <li class="breadcrumb-item"><a href="#">Home</a></li>
               <li class="breadcrumb-item active">What are Flavor Oils?</li>
            </ol>
            <h1 class="title mb-25">Flavoring Oils</h1>
            <div class="mobile-categories-wrap phone-visible">
               <div class="header"><a href="#" class="mobile-category-toggle">More Information</a></div>
               <ul class="sidebar-sub-categories">
                  <li><%= link_to('Flavor Powders', flavor_powders_path) %></li>
                  <li><%= link_to('Flavor Emulsions', flavor_emulsions_path) %></li>
                  <li><%= link_to('Flavor Concentrates', flavor_concentrates_path) %></li>
                  <li><%= link_to('Flavor Extracts', flavor_extracts_path) %></li>
                  <li><%= link_to('Flavor Oils', flavor_oils_path) %></li>
                  <li><a href="https://blog.naturesflavors.com/videos/" target="_blank">The Flavor Guy Videos</a></li>
                  <li><a href="#">Reviews</a></li>
                  <li><%= link_to('FAQs', faq_path) %></li>
               </ul>
            </div>
            <!-- Artivle -->  
            <div class="articl-media">
               <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/izzzYCEDWZM?rel=0" allowfullscreen></iframe>
               </div>
            </div>
            <div class="banner-caption-wrap">
               <div class="row">
                  <div class="col-md-7">
                     <p>Natural flavors are made from plant materials and so variations can occur from season to season. If you are buying a flavor that is to be used year round, let us know and we can tailor a plan that will insure the least amount of variation from order to order. Natural flavors come in many styles, colors, forms, and concentrations. Be sure to test the flavor out and ask for assistance if you need help to determine an amount for your application. Generally a good rule for starting usage is .25% and up. Remember natural flavor has and optimal usage and getting to that point is more art than science.</p>
                  </div>
                  <div class="col-md-5">
                     <div class="wrap">
                        <h5>Video Content</h5>
                        <p>Watch how essential oils are used to make an extract.</p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="block d-flex flex-wrap">
               <div class="flex-fill">
                  <h2>NEVER OVER FLAVOR YOUR RECIPE!</h2>
                  <p>Here’s how you can avoid over flavoring your recipes. If you’re flavoring cookies or ice cream, start with a small amount such as a .25% up to 1% of total weight of the batch. Then, taste the flavor in the finished dough or ice cream mix. If you enjoy the flavor and it disappears after 3-5 seconds then it’s perfect. However prior to baking, we suggest adding 10% more flavor oil to compensate for the loss of flavor during baking. When making and freezing ice cream, it is also possible the oil will become diluted due to the whipping of air into the product from the ice cream machine. So, you may need to add more flavor oil to the ice cream mix.</p>
               </div>
            </div>
            <div class="block d-flex flex-wrap">
               <div class="flex-fill">
                  <h2>OIL SOLUBLE</h2>
                  <p>Nature's Flavors Flavor Oils are great when your recipe calls for oil soluble ingredients. These oils are commonly used in the manufacture of lip balm, candle making, natural candies and even Scratch-n-Sniff artwork!</p>
               </div>
            </div>
            <div class="block d-flex flex-wrap">
               <div class="flex-fill">
                  <h2>PRODUCT USAGE</h2>
                  <p>From 0.5% to 3% maximum, by weight of total ingredients in application. A bit of experimentation may be necessary. It is always best to start low and work up to the desired level of flavor, as over-flavoring is fairly easy with these concentrated flavor oils.</p>
                  <p>Flavor Oils are used in Oil-based products, such as chocolate oil and lip balm oil. Flavor Oils are:</p>
                  <ul>
                     <li>Clear</li>
                     <li>Concentrated</li>
                     <li>Oil-based only</li>
                     <li>High heat stablee</li>
                     <li>In some cases, solidified product is natural because of the base</li>
                     <li>Start 0.5% to 3% maximum</li>
                     <li>Ingredients - natural or organic flavor, carrier oil (*sunflower, canola, coconut)</li>
                  </ul>
               </div>
            </div>
            <!-- /.Article --> 
         </div>
         <div class="col-xl-3 tablet-hide"></div>
      </div>
   </div>
</main>