<% self.title = "What Are Flavor Concentrates?" %>
<% meta_tag :description, "Everything you ever wanted to know about flavor concentrates and their best uses, usage guidelines, and ways to avoid over flavoring your masterpiece!" %>
<main class="page-contents">
   <div class="category-wrapper">
      <div class="row no-gutters">
         <div class="col-xl-2 col-lg-3 phone-hide">
            <div class="sidebar-categories">
               <h4>More Information:</h4>
               <ul class="sidebar-sub-categories">
                  <li><%= link_to('Flavor Powders', flavor_powders_path) %></li>
                  <li><%= link_to('Flavor Emulsions', flavor_emulsions_path) %></li>
                  <li  class="active"><%= link_to('Flavor Concentrates', flavor_concentrates_path) %></li>
                  <li><%= link_to('Flavor Extracts', flavor_extracts_path) %></li>
                  <li><%= link_to('Flavor Oils', flavor_oils_path) %></li>
                  <li><a href="https://blog.naturesflavors.com/videos/" target="_blank">The Flavor Guy Videos</a></li>
                  <li><a href="#">Reviews</a></li>
                  <li><%= link_to('FAQs', faq_path) %></li>
               </ul>
            </div>
         </div>
         <div class="col-xl-7 col-lg-9">
            <div class="article-wrapper">
               <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active">What Are Flavor Concentrates?</li>
               </ol>
               <h1 class="title mb-25">What Are Flavor Concentrates?</h1>
               <div class="mobile-categories-wrap phone-visible">
                  <div class="header"><a href="#" class="mobile-category-toggle">More Information</a></div>
                  <ul class="sidebar-sub-categories">
                     <li><%= link_to('Flavor Powders', flavor_powders_path) %></li>
                     <li><%= link_to('Flavor Emulsions', flavor_emulsions_path) %></li>
                     <li><%= link_to('Flavor Concentrates', flavor_concentrates_path) %></li>
                     <li><%= link_to('Flavor Extracts', flavor_extracts_path) %></li>
                     <li><%= link_to('Flavor Oils', flavor_oils_path) %></li>
                     <li><a href="https://blog.naturesflavors.com/videos/" target="_blank">The Flavor Guy Videos</a></li>
                     <li><a href="#">Reviews</a></li>
                     <li><%= link_to('FAQs', faq_path) %></li>
                  </ul>
               </div>
               <!-- Artivle -->  
               <div class="articl-media">
                  <div class="embed-responsive embed-responsive-16by9">
                     <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/PnGmJZIXJME?rel=0" allowfullscreen></iframe>
                  </div>
               </div>
               <div class="banner-caption-wrap">
                  <div class="row">
                     <div class="col-md-7">
                        <p>Natures Flavors' Flavor Concentrates are our most widely-used flavors and are best used in any water-based situation.</p>
                     </div>
                     <div class="col-md-5">
                        <div class="wrap">
                           <h5>Video Content</h5>
                           <p>A quick breakdown of the differences between concentrates & extracts.</p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="block d-flex flex-wrap">
                  <div class="flex-fill">
                     <h2>PREMIUM CONCENTRATES</h2>
                     <p>Add a few drops to your ice cream to create a truly mouth-watering treat. You could also add a few drops to your cooking or to any beverage to enhance its flavor! If you're only getting one type of product, this is the one to get.</p>
                  </div>
               </div>
               <div class="block d-flex flex-wrap">
                  <div class="flex-fill">
                     <h2>USAGE GUIDELINES</h2>
                     <p>Starting usages are about 0.25% to 3% by weight in recipes. Flavors are affected by fat, sugar, and bulking agent content, so a little experimentation may be needed to get the perfect flavor for you!</p>
                  </div>
               </div>
               <div class="block d-flex flex-wrap">
                  <div class="flex-fill">
                     <h2>NEW TO CUSTOM FLAVORING?</h2>
                     <p><strong>You may find the following recipe useful:</strong><br>Begin with 8 ounces of water, add 4 to 8 drops of 50% Citric Acid Solution. Taste for proper acidity (orange or apple = more acidic; pear or banana = less acidic). Next add 4 to 8 drops of flavor concentrate and sweeten to taste with Stevia Drops, Sweet Drops (AceK), sugar, or your preferred sweetener.</p>
                  </div>
               </div>
               <div class="block d-flex flex-wrap">
                  <div class="flex-fill">
                     <h2>BEST USES FOR FLAVOR CONCENTRATES</h2>
                     <p><strong>Flavor concentrates are the most versatile of flavors. They're good for:</strong></p>
                     <ul>
                        <li>Syrups</li>
                        <li>Ice Cream</li>
                        <li>Baked goods</li>
                        <li>Yogurt</li>
                        <li>Beverages</li>
                        <li>Much, much, more!</li>
                     </ul>
                  </div>
               </div>
               <div class="block d-flex flex-wrap">
                  <div class="flex-fill">
                     <div class="row">
                        <div class="col-md-6">
                           <h2>ADDITIONAL INFORMATION ON CONCENTRATES</h2>
                           <ul>
                              <li>Highly concentrated</li>
                              <li>Have a similar concentration to Extracts</li>
                              <li>Liquid</li>
                              <li>Contain no added sweetener</li>
                              <li>Water-based</li>
                              <li>High heat stable</li>
                              <li>Look slightly cloudy (when used at small ratios, shouldn't change color)</li>
                              <li>Ingredients - gum acacia/arabic, citric acid, natural or organic flavors</li>
                              <li>Refrigerate Upon Receipt</li>
                              <li>Store in tightly sealed container at temperatures not exceeding 35⁰ - 40⁰ Fahrenheit. Stable for 2 years if stored properly</li>
                           </ul>
                        </div>
                        <div class="col-md-6">
                           <div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" src="https://www.youtube.com/embed/JtYtSVH6fTM?rel=0" allowfullscreen></iframe></div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="attention-note">
                  <h2>OVERFLAVORING YOUR PRODUCT</h2>
                  <p>If at any time you notice a minty taste on your palate or a medicinal taste, you have over-flavored your product. If you are burping the flavor up an hour or more after you have eaten the finished product, than you have probably over flavored the product. If the beverage has a strong smell, or if it leaves a taste of wax in your mouth, you've over-flavored! The trick to making a product taste good is to give just enough flavor to tease the taste buds, without overdoing it. Reduce all quantities by half (except water) and start over. This is only a starting point. Food flavoring is an art and requires experimentation and practice to achieve results. Nature's Flavors is committed to helping everyone achieve great results with our products, so if you have questions about using our products, please let us know. We will make every effort to get you the information you need.</p>
               </div>
            </div>
            <!-- /.Article --> 
         </div>
         <div class="col-xl-3 tablet-hide"></div>
      </div>
   </div>
</main>