<% self.title = "What Are Flavor Emulsions?" %>
<% meta_tag :description, "Learn about flavor emulsions, their best uses, and usage percentages! Make the perfect products and never over-flavor again!" %>
<main class="page-contents">
   <div class="category-wrapper">
      <div class="row no-gutters">
         <div class="col-xl-2 col-lg-3 phone-hide">
            <div class="sidebar-categories">
               <h4>More Information:</h4>
               <ul class="sidebar-sub-categories">
                  <li><%= link_to('Flavor Powders', flavor_powders_path) %></li>
                  <li class="active"><%= link_to('Flavor Emulsions', flavor_emulsions_path) %></li>
                  <li><%= link_to('Flavor Concentrates', flavor_concentrates_path) %></li>
                  <li><%= link_to('Flavor Extracts', flavor_extracts_path) %></li>
                  <li><%= link_to('Flavor Oils', flavor_oils_path) %></li>
                  <li><a href="https://blog.naturesflavors.com/videos/" target="_blank">The Flavor Guy Videos</a></li>
                  <li><a href="#">Reviews</a></li>
                  <li><%= link_to('FAQs', faq_path) %></li>
               </ul>
            </div>
         </div>
         <div class="col-xl-7 col-lg-9">
            <div class="article-wrapper">
               <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active">What Are Flavor Emulsions?</li>
               </ol>
               <h1 class="title mb-25">What Are Flavor Emulsions?</h1>
               <div class="mobile-categories-wrap phone-visible">
                  <div class="header"><a href="#" class="mobile-category-toggle">More Information</a></div>
                  <ul class="sidebar-sub-categories">
                     <li><%= link_to('Flavor Powders', flavor_powders_path) %></li>
                     <li><%= link_to('Flavor Emulsions', flavor_emulsions_path) %></li>
                     <li><%= link_to('Flavor Concentrates', flavor_concentrates_path) %></li>
                     <li><%= link_to('Flavor Extracts', flavor_extracts_path) %></li>
                     <li><%= link_to('Flavor Oils', flavor_oils_path) %></li>
                     <li><a href="https://blog.naturesflavors.com/videos/" target="_blank">The Flavor Guy Videos</a></li>
                     <li><a href="#">Reviews</a></li>
                     <li><%= link_to('FAQs', faq_path) %></li>
                  </ul>
               </div>
               <!-- Artivle -->  
               <div class="articl-media">
                  <div class="embed-responsive embed-responsive-16by9">
                     <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/LvaVpKg5MXI?rel=0" allowfullscreen></iframe>
                  </div>
               </div>
               <div class="banner-caption-wrap">
                  <div class="row">
                     <div class="col-md-7">
                        <p>Flavor emulsions come in many flavors, colors, and styles. Be sure to test the flavor out and ask us if you need help to determine starting amount for your application.</p>
                     </div>
                     <div class="col-md-5">
                        <div class="wrap">
                           <h5>Video Content</h5>
                           <p>Watch this video to learn about flavor extracts.</p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="block d-flex flex-wrap">
                  <div class="flex-fill">
                     <h2>WHAT IS A FLAVOR EMULSION</h2>
                     <p>Emulsions are made through high-shear processes where we minimize the droplets of the oils within our flavor oil and emulsifier mix, usually a gum acacia. Through this process, we made the oils into highly concentrated, water-soluble flavors that are great for high-heat applications.</p>
                  </div>
               </div>
               <div class="block d-flex flex-wrap">
                  <div class="flex-fill">
                     <h2>STARTING USAGE</h2>
                     <p>Emulsions are water-soluble and highly concentrated flavors, for that reason, starting usage is 0.1% - 0.5%. by weight. Experimentation is needed. Feel free to call us for some tips. If the flavor tastes good and dissipates after 3 to 5 seconds, it's perfect!</p>
                  </div>
               </div>
               <div class="block d-flex flex-wrap">
                  <div class="flex-fill">
                     <div class="row">
                        <div class="col-md-6">
                           <h2>BEST APPLICATIONS</h2>
                           <p>Flavor emulsions are high-heat resistant, making them perfect for baking applications. Flavor emulsions are good for:</p>
                           <ul>
                              <li>Cookies</li>
                              <li>Cakes</li>
                              <li>Hard & Soft Candy</li>
                              <li>Dairy Products</li>
                              <li>Ice Cream</li>
                              <li>Beverages</li>
                              <li>Much, much, more!</li>
                           </ul>
                        </div>
                        <div class="col-md-6">
                           <div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" src="https://www.youtube.com/embed/dnc-zJdxqPI?rel=0" allowfullscreen></iframe></div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="attention-note">
                  <h2>OVERFLAVORING YOUR PRODUCT</h2>
                  <p>If at any time you notice a minty taste on your palate or a medicinal taste, you have over-flavored your product. Or, if you are burping the flavor up an hour or more after you have eaten the finished product then you have probably over flavored it. The trick to making a product taste good is to give just enough flavor to tease the taste buds, without overdoing it. That's what keeps them coming back for more.</p>
               </div>
            </div>
            <!-- /.Article --> 
         </div>
         <div class="col-xl-3 tablet-hide"></div>
      </div>
   </div>
</main>