<% self.title = "What Are Flavoring Oils for Candy, Baking & More?" %>
<% meta_tag :description, "Flavoring oils are used in oil-based chocolates, lip balms, candles & more. Learn about flavoring oils for candy as well as baking & cooking applications." %>
<main class="page-contents">
   <div class="category-wrapper">
   <div class="row no-gutters">
      <div class="col-xl-2 col-lg-3 phone-hide">
         <div class="sidebar-categories">
            <h4>More Information:</h4>
            <ul class="sidebar-sub-categories">
               <li><%= link_to('Flavor Powders', flavor_powders_path) %></li>
               <li><%= link_to('Flavor Emulsions', flavor_emulsions_path) %></li>
               <li><%= link_to('Flavor Concentrates', flavor_concentrates_path) %></li>
               <li><%= link_to('Flavor Extracts', flavor_extracts_path) %></li>
               <li class="active"><%= link_to('Flavor Oils', flavor_oils_path) %></li>
               <li><a href="https://blog.naturesflavors.com/videos/" target="_blank">The Flavor Guy Videos</a></li>
               <li><a href="#">Reviews</a></li>
               <li><%= link_to('FAQs', faq_path) %></li>
            </ul>
         </div>
      </div>
      <div class="col-xl-7 col-lg-9">
         <div class="article-wrapper">
            <ol class="breadcrumb">
               <li class="breadcrumb-item"><%= link_to "Home", root_url %></li>
               <li class="breadcrumb-item active">Flavor Oils</li>
            </ol>
            <h1 class="title mb-25">What Are Flavoring Oils?</h1>
            <div class="mobile-categories-wrap phone-visible">
               <div class="header"><a class="mobile-category-toggle">More Information</a></div>
               <ul class="sidebar-sub-categories">
                  <li><%= link_to('Flavor Powders', flavor_powders_path) %></li>
                  <li><%= link_to('Flavor Emulsions', flavor_emulsions_path) %></li>
                  <li><%= link_to('Flavor Concentrates', flavor_concentrates_path) %></li>
                  <li><%= link_to('Flavor Extracts', flavor_extracts_path) %></li>
                  <li><%= link_to('Flavor Oils', flavor_oils_path) %></li>
                  <li><a href="https://blog.naturesflavors.com/videos/" target="_blank">The Flavor Guy Videos</a></li>
                  <li><a href="#">Reviews</a></li>
                  <li><%= link_to('FAQs', faq_path) %></li>
               </ul>
            </div>
            <!-- Artivle -->  
            <div class="articl-media">
               <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/izzzYCEDWZM?rel=0" allowfullscreen></iframe>
               </div>
            </div>
            <div class="banner-caption-wrap">
               <div class="row">
                  <div class="col-md-7">
                     <p>Natural <%= link_to "flavoring oils", (Spree::Taxon.find_by_name("Flavor Oils").present? ? seo_url(Spree::Taxon.find_by_name("Flavor Oils")): '/')  %> are made from plant-derived materials, and so flavor variations can occur from season to season. If you are buying a flavor that is to be used year-round, let us know, and we can tailor a plan that will ensure the least amount of flavor variation from order to order. Natural flavors come in many styles, colors, forms, and concentrations - one of which is a <%= link_to "natural flavoring oil", (Spree::Taxon.find_by_name("Natural Flavor Oils").present? ? seo_url(Spree::Taxon.find_by_name("Natural Flavor Oils")): '/')  %>.<br><br>When using a flavoring oil, be sure to test the flavor, and ask for assistance if you need help to determine the right amount for your application. Generally, a good rule for starting usage of a flavor oil is .25% and up. Remember, our high-quality, natural flavor oils have optimal usage, and getting to that point is more art than science.</p>
                  </div>
                  <div class="col-md-5">
                     <div class="wrap">
                        <h5>Video Content</h5>
                        <p>Watch Bill, “the Flavor Guy,” demonstrate how essential oils or food-grade flavoring oils are used to make an all-natural flavor extract.</p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="attention-note">
                  <h2>NEVER OVER-FLAVOR YOUR RECIPE WITH FLAVORING OILS!</h2>
                  <p>Here’s how you can avoid over-flavoring your recipes with our flavoring oils. If you’re flavoring cookies or ice cream, start with a small amount of the flavor oil of your choice, such as .25% up to 1% of the total weight of the batch. Then, taste the flavor in the finished cookie dough or ice cream mix.</p>
                  <p>If you enjoy the enhanced flavor profile and it disappears after three to five seconds, then it’s perfect. However, prior to baking, we suggest adding 10% more flavor oil to compensate for the loss of flavor during baking. When making and freezing ice cream, it is also possible the oil will become diluted due to the whipping of air into the product from the ice cream machine. So, you may need to add more flavoring oil to the ice cream mix.</p>
            </div>            
            <div class="block d-flex flex-wrap">
               <div class="flex-fill">
                  <h2>WHAT ARE SOME USES FOR FLAVORING OILS?</h2>
                  <p>Our selection of premium flavoring oils can be used for baking and cooking applications as well as adding to chocolate oils, lip balms and lip gloss oils, candle oils, Scratch-n-Sniff artwork, and candy.</p>
                  <p>Create decadent desserts with extraordinary flavor profiles that any sweet tooth will devour. Add your favorite all-natural flavoring oil to ice cream, cookies, cake, frostings, fudge, chocolate, candy, custards, pies, and more. We have a selection of savory flavoring oils, which are excellent to pair with entrees, side dishes, sauces, soups, and more.</p>
                  <p>These flavor oils are made with all-natural, plant-derived ingredients found in nature. At Nature’s Flavors, our assortment of carefully curated natural flavoring oils includes nearly 1,000 different flavor profiles - some of which are more common, and others are exotic flavor oils that only our expert flavor chemists could create. If you have a specific flavor in mind, let us know, and we can create the custom flavoring oil for you.</p>
               </div>
            </div>
            <div class="block d-flex flex-wrap">
               <div class="flex-fill">
                  <h2>FLAVORING OILS FOR CANDY</h2>
                  <p>Use our natural flavor oils for candy to create sugary sweets without added sugar. These flavoring oils are excellent for both soft and hard candies. Create your own candy canes, mints, chocolates, lollipops, chewy candies, and more with our flavoring oils for candy that boost the flavors in a pleasant and delicious way.</p>
               </div>
            </div>
            <div class="block d-flex flex-wrap">
               <div class="flex-fill">
                  <h2>OIL-SOLUBLE FLAVORING OILS</h2>
                  <p>Nature’s Flavors' natural flavor oils are great when your recipe or application calls for oil-soluble ingredients. These flavor oils are most commonly used in the manufacture of lip balms, candle making, natural candies, and even Scratch-n-Sniff applications!</p>
               </div>
            </div>
            <div class="block d-flex flex-wrap">
               <div class="flex-fill">
                  <h2>FLAVORING OILS USAGE GUIDELINES</h2>
                  <p>When baking or cooking with flavoring oils, use approximately 0.5% to 3% maximum, by weight of total ingredients in application. A bit of experimentation with our premium flavoring oils may be necessary. It is always best to start low and work up to the desired level of flavor, as over-flavoring is fairly easy with these concentrated flavor oils.</p>
               </div>
            </div>                                    
            <div class="block d-flex flex-wrap">
               <div class="flex-fill">
                  <h2>PROPERTIES OF FLAVOR OILS:</h2>
                  <p>Flavoring oils are used in oil-based products, such as chocolate oil and lip balm oil. Our flavor oils are typically:</p>
                  <ul>
                     <li>Clear</li>
                     <li>Concentrated</li>
                     <li>Oil-based only</li>
                     <li>High heat-stable</li>
                     <li>In some cases, the solidified product is natural because of the base</li>
                     <li>Start with 0.5% to 3% maximum</li>
                     <li>Ingredients - natural or organic flavor, <%= link_to "carrier oil", (Spree::Taxon.find_by_name("Carrier Oils").present? ? seo_url(Spree::Taxon.find_by_name("Carrier Oils")): '/')  %> (*sunflower, canola, coconut)</li>
                  </ul>
               </div>
            </div>
            <!-- /.Article --> 
         </div>
         <div class="col-xl-3 tablet-hide"></div>
      </div>
   </div>
</main>