<% if @orders.present? %>
	<div class="tab-pane fade show active" id="orderHistory" role="tabpanel">
		<div class="my-orders-wrapper">
			<% @orders.each do |order| %>
				<div class="order-row-wrap">
						<div class="cart-icon tablet-hide"></div>
						<div class="order-wrap d-flex flex-wrap align-items-center">
							<div class="order-col flex-fill">
								<label><%= Spree.t(:date) %></label>
								<h5><%=  order.completed_at.strftime("%m/%d/%Y") %></h5>
							</div>
							<div class="order-col flex-fill">
								<label>Order #:</label>
								<h5><%= order.number %></h5>
							</div>
							<div class="order-col flex-fill">
								<label>Fulfillment Status:</label>
								<h5 class="shipment-text"><%= Spree.t("shipment_states.#{order.shipment_state}").titleize if order.shipment_state %></h5>
							</div>
							<div class="order-col flex-fill">
								<label><%= Spree.t(:total) %></label>
								<h5><strong><%= order.display_total %></strong></h5>
							</div>
							<div class="order-action">
								<button type="button" class="btn show-order-details">Action</button>
							</div>
						</div>
						<div class="order-details-wrap">
							<div class="wrap">
								<div class="profile-order-summary-wrap">
									<div class="profile-order-summary">
										<h6>Shipping Details:</h6>
                    <p><%= render "spree/users/account_address", address: order.ship_address %> </p>
									</div>
									<div class="profile-order-summary">
										<h6>Billing Details:</h6>
                    <p><%= render "spree/users/account_address", address: order.bill_address %> </p>
									</div>
									<div class="profile-order-summary">
										<h6>Payment Method:</h6>
										<% if order.has_step?("payment") %>
											<% order.payments.valid.each do |payment| %>
												<% source = payment.source %>
												<% if source.is_a?(Spree::CreditCard) %>
                          <span class="cc-type">
                            <% if source.last_digits %>
                              <%= Spree.t(:ending_in) %> <%= source.last_digits %>
                            <% end %>
                          </span>
                            <br>
                          <span class="full-name"><%= source.name %></span>
												<% else %>
											    <p> <%= content_tag(:span, payment.payment_method.name) %></p>
                        <% end %>
											<% end %>
										<% end %>
									</div>
									<div class="profile-order-summary">
										<h6>Shipping Method:</h6>
										<p>
											<% if order.has_step?("delivery") %>
												<% order.shipments.valid.each do |shipment| %>
													<%= shipment.shipping_method&.name %><br/>
													<% if shipment.state == 'shipped' %>
														<% if shipment.tracking && shipment.tracking_url %>
															Tracking Information: <%= link_to shipment.tracking, shipment.tracking_url, target: "_blank" %><br/>
														<% else %>
															No tracking details provided.
														<% end %>
													<% end %>
												<% end %>
											<% end %>
										</p>
									</div>
									<% if order.request_coa %>
									<div class="profile-order-summary">
										<h6>Documentation:</h6>
										<p>
											COA (Certificate of Analysis for B2B) requested.
										</p>
									</div>
									<% end %>
								</div>
								<div class="order-summary">
									<% order.line_items.each do|s| %>
										<% variant = s.variant %>
											<ul class="cart-items">
												<li class="cart-item">
													<%
														if variant.product.images.count > 0
															img = variant.product.images.first.my_cf_image_url(:small)
														elsif variant.images.count > 0
															img = variant.images.first.my_cf_image_url(:small)
														else
															img = asset_path('noimage/default-product-image-small.jpg')
														end
													%>
													<% product_or_variant_first_img = image_tag(img) %>
													<%= link_to product_or_variant_first_img, spree.product_path(variant.product), class:'thumbnail' %>
													<div class="cart-item-details d-flex flex-column justify-content-between">
														<h4>
															<%= link_to spree.product_path(variant.product) do %>
																<%= s.name %>
																- <%= s.variant.option_values.pluck(:presentation).join(",") %>
															<% end %>
														</h4>
														<div class="price-size text-right"><span><%= s.quantity %>x<%= s.single_money.to_html%></span><%= s.display_amount.to_html unless s.quantity.nil? %> </div>
													</div>
												</li>
											</ul>
									<% end %>
									<ul class="cart-totals">
										<li>
											<label>Shipping:</label>
											<% shipping_total = Spree::Money.new(order.shipments.to_a.sum(&:cost), currency: order.currency) %>
											<span><%= shipping_total.to_html %></span> </li>
				            <% if order.shipment_adjustments.nonzero.exists? %>
        			      	<% order.shipment_adjustments.nonzero.promotion.eligible.group_by(&:label).each do |label, adjustments| %>
										<li>
											<label><%= label %>:</label>
											<span><%= Spree::Money.new(adjustments.sum(&:amount), currency: order.currency).to_html %></span> </li>
											<% end %>
										<% end %>
										<% if order.adjustments.nonzero.eligible.exists? %>
											<% order.adjustments.nonzero.eligible.each do |adjustment| %>
											<% next if (adjustment.source_type == 'Spree::TaxRate') and (adjustment.amount.zero?) %>
										<li>
											<label><%= adjustment.label %>:</label>
											<span><%= adjustment.display_amount.to_html %> </li>
											<% end %>                  
										<% end %>
                    <% if order.using_store_credit? %>
										<li>
											<label><%= Spree.t(:store_credit_name) %>:</label>
											<span><%= order.display_total_applied_store_credit.to_html %></span> </li>
                    <% end %>
										<li>
											<label>Total:</label>
											<strong><%= order.display_total.to_html %></strong> </li>
										<% if order.using_store_credit? %>
										<li>
											<label>Amount Charged:</label>
											<strong><%= Spree::Money.new(order.order_total_after_store_credit, currency: order.currency) %></strong> </li>
										<% end %>
									</ul>
								</div>
							</div>
						</div>
				</div>
			<% end %>
		</div>
	</div>
<% else %>
	<div class="tab-pane fade show active" id="orderHistory" role="tabpanel">
		<div class="my-orders-wrapper">
			<h3 class="text-center"><br><%= Spree.t(:you_have_no_orders_yet) %><br><br></h3>
		</div>
	</div>
<% end %>

