<div id="user_error_messages">
  <%= render partial: 'spree/shared/error_messages', locals: { target: @user } %>
</div>
<div class="tab-pane fade" id="personalInformation" role="tabpanel">
  <div class="personal-info">
    <%= form_for Spree.user_class.new, as: @user, url: spree.user_path(@user), method: :put, remote:true do |f| %>
      <div class="form-group form-floating mb-20">
          <%= f.email_field :email, :class => 'form-control', :placeholder => Spree.t(:email) %>
          <label>Email *</label>
      </div>
      <div class="form-group form-floating mb-20">
          <%= f.password_field :password, :class => 'form-control', :placeholder => Spree.t(:password) %>
          <label>Enter New Password *</label>
      </div>
      <div class="form-group form-floating mb-20">
          <%= f.password_field :password_confirmation, :class => 'form-control ', :placeholder => Spree.t(:confirm_password) %>
          <label>Confirm Password *</label>
      </div>
      <%= f.submit  class: 'btn btn-primary btn-block ', value:'Save' %>
    <% end %>
  </div>
</div>