<div class="col-xl-3 col-lg-4">
  <div class="wishlist">
    <h3>Wishlist</h3>
    <div class="cart-similar-item mb-20">
        <div class="wrap">
        <p>You might need this:</p>
        <div class="similar-item-thumb"><%= image_tag "product-thumb-1.jpg", alt:"product thumbnail" %></div>
        <h4><a href="#">Acorn Flavored Powder, Natural (8 oz.)</a></h4>
        <a href="#" class="btn btn-primary">$14.70 - Add to Cart</a> <%= image_tag "heart.svg", alt:"" %> </div>
    </div>
    <div class="cart-similar-item mb-20">
        <div class="wrap">
        <p>You might need this:</p>
        <div class="similar-item-thumb"><%= image_tag "product-thumb-1.jpg", alt:"product thumbnail" %></div>
        <h4><a href="#">Acorn Flavored Powder, Natural (8 oz.)</a></h4>
        <a href="#" class="btn btn-primary">$14.70 - Add to Cart</a> <%= image_tag "heart.svg", alt:"" %> </div>
    </div>
    <div class="cart-similar-item mb-20">
        <div class="wrap">
        <p>You might need this:</p>
        <div class="similar-item-thumb"><%= image_tag "product-thumb-1.jpg", alt:"product thumbnail" %></div>
        <h4><a href="#">Acorn Flavored Powder, Natural (8 oz.)</a></h4>
        <a href="#" class="btn btn-primary">$14.70 - Add to Cart</a><%= image_tag "heart.svg", alt:"" %> </div>
    </div>
  </div>
</div>