<main class="page-contents">
  <div class="account-wrapper">
    <div class="row no-gutters">
      <div class="col-xl-2 tablet-hide"></div>
      <div class="col-xl-7 col-lg-8">
        <div class="wrap">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">My Account</li>
          </ol>
          <div class="title-wrap mb-60">
            <h1 class="title"><%= accurate_title %> 
              <%= link_to  destroy_spree_user_session_path, :class => 'btn btn-primary' do %>
                Log Out 
              <% end %> 
            </h1>
            <div class="sm-title">Welcome to your account. Here you can manage all of your personal information and orders.</div>
          </div>
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" role="presentation"><a class="nav-link active" data-toggle="tab" href="#orderHistory">Order History</a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#personalInformation">Personal Information</a></li>
            <li class="nav-item" role="presentation" id="account-address-tab"><a class="nav-link" data-toggle="tab" href="#myAddresses">My Addresses</a></li>
            <li class="nav-item" role="presentation" id="account-cedit-card-tab"><a class="nav-link" data-toggle="tab" href="#myCards">My Cards</a></li>
          </ul>
          <div class="tab-content" id="account-my-orders" data-hook="account_my_orders">
            <%= render partial: 'order_details' %>
            <%= render partial: 'personal_information' %>
            <%= render partial: 'my_addresses' %>
            <%= render partial: 'profile_cards'%>
          </div>
        </div>
      </div>
      <%= render partial: 'spree/shared/wished_products' %>
    </div>
  </div>
</main>
