<%# @body_id = 'signup' %>
<%#= render partial: 'spree/shared/error_messages', locals: { target: @user } %>
<!-- <div class="col-lg-6 offset-lg-3">
  <h3 class="spree-header spree-mb-large spree-mt-large"><%#= Spree.t(:new_customer) %></h3>
  <div id="new-customer" data-hook="login">
    <%#= form_for resource, as: :spree_user, url: spree.registration_path do |f| %>
      <div data-hook="signup_inside_form">
        <%#= render partial: 'spree/shared/user_form', locals: { f: f, remember_me_field: true } %>
        <div><%#= f.submit Spree.t(:sign_up), class: 'btn btn-primary btn-block spree-btn mb-5' %></div>
      </div>
    <%# end %>

    <h3 class="spree-header header-sm spree-mt-medium mb-3 mb-sm-4 mb-xl-4"><%#= Spree.t('already_have_account') %></h3>
    <%#= link_to Spree.t(:log_in), spree.login_path, class: 'btn btn-block btn-outline-primary spree-btn spree-mb-large' %>
    <div data-hook="login_extras"></div>
  </div>
</div> -->
<% @body_id = 'signup' %>
<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>
<main class="page-contents">
   <div class="registration-wrapper">
      <div class="row no-gutters">
         <div class="col-lg-6">
            <div id="new-customer" data-hook="login">
               <%= form_for resource, :as => :spree_user, :url => spree.registration_path do |f| %>
                  <div data-hook="signup_inside_form">
                     <nav class="breadcrumb-wrap d-flex flex-wrap align-items-center justify-content-between">
                        <ol class="breadcrumb">
                           <li class="breadcrumb-item"><a href="#">Home</a></li>
                           <li class="breadcrumb-item active">Registration</li>
                        </ol>
                     </nav>
                     <h1 class="title mb-0">Registration</h1>
                     <div class="sm-title mb-20" id="password-credentials" >It looks like you’re new here. We need a bit more info...</div>
                     <%= render :partial => 'spree/shared/user_form', :locals => { :f => f } %>
                     <div class="registration-note">By clicking "Continue", you agree to our <a href="#">Terms of Use</a> &amp; <a href="#">Privacy Policy</a>, including receipt of emails and promotions.</div>
                     <button type="submit" class="btn btn-primary btn-block mb-25">Continue</button>
                     <div class="text-center">
                        <%= link_to spree.login_path do%>
                         Already Registered?
                        <% end%>
                     </div>
                     <div data-hook="login_extras"></div>
                  </div>
               <%end%>
            </div>
         </div>
         <div class="col-lg-6">
            <div class="latest-deals">
               <div class="title-wrap d-flex align-items-start justify-content-between margin-0">
                  <div class="left">
                     <div class="sm-title">Natures Flavors</div>
                     <h3 class="title">Latest Deals</h3>
                  </div>
                  <div class="right"><a href="#" class="btn btn-primary">All Deals</a></div>
               </div>
               <div class="products-wrapper d-sm-flex align-items-start">
                  <div class="product-wrap">
                     <a href="#">
                        <div class="product-img">
                           <%= image_tag "product-thumb-1" %>
                           <div class="price"><span>$24.51</span>$13.51</div>
                        </div>
                        <div class="product-desc">
                           <h4>Acorn Flavored Powder, Natural</h4>
                        </div>
                     </a>
                  </div>
                  <div class="product-wrap">
                     <a href="#">
                        <div class="product-img">
                           <%= image_tag "product-thumb-2" %>
                           <div class="price"><span>$24.51</span>$13.51</div>
                        </div>
                        <div class="product-desc">
                           <h4>Acai Compound, Natural</h4>
                        </div>
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</main>