<% @body_id = 'signup' %>
<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>
<main class="page-contents">
   <div class="registration-wrapper">
      <div class="row no-gutters">
         <div class="col-lg-6">
            <div id="new-customer" data-hook="login">
               <%= form_for resource, :as => :spree_user, :url => spree.registration_path do |f| %>
                  <div data-hook="signup_inside_form">
                     <nav class="breadcrumb-wrap d-flex flex-wrap align-items-center justify-content-between">
                        <ol class="breadcrumb">
                           <li class="breadcrumb-item"><a href="#" data-turbolinks="false">Home</a></li>
                           <li class="breadcrumb-item active">Registration</li>
                        </ol>
                     </nav>
                     <h1 class="title mb-0">Registration</h1>
                     <div class="sm-title mb-20" id="password-credentials" >It looks like you’re new here. We need a bit more info.<br>Fields marked with an asterisk (*) are required.</div>
                     <%= render :partial => 'spree/shared/user_form', :locals => { :f => f } %>
                     <div class="registration-note">
                      By clicking "Continue", you agree to our
                       <%= link_to "Terms & Conditions", terms_and_conditions_path %> &amp; <%= link_to "Privacy Policy", privacy_path %>, including receipt of emails and promotions.</div>
                     <button type="submit" class="btn btn-primary btn-block mb-25">Continue</button>
                     <div class="text-center">
                        <%= link_to spree.login_path do%>
                         Already Registered?
                        <% end%>
                     </div>
                     <div data-hook="login_extras"></div>
                  </div>
               <%end%>
            </div>
         </div>
         <%= render :partial => 'spree/shared/deals_blog' %> 
      </div>
   </div>
</main>