<%= render partial: 'spree/shared/error_messages', locals: { target: @order } %>
<% order_form&.object&.line_items.each do |line_item| %>
  <%= order_form&.fields_for :line_items, line_item do |item_form| %>
    <li class="cart-item line-item cart-line-item-container-<%= line_item.id %> shopping-cart-item " data-lineitem-id= "<%= line_item.id %>">
      <button type="button" class="btn btn-primary remove-btn popup-cart-delete js-line-item-delete-btn-<%= line_item.id %> " data-line-item-id="<%= line_item.id %>" >Close</button>
      <%= link_to product_image(line_item.variant), spree.product_path(line_item.variant.product), class:'thumbnail' %>
      <div class="cart-item-details d-flex flex-column justify-content-between">
        <h4><%= link_to line_item&.name, line_item&.variant&.product %></h4>
        <%= item_form.number_field :quantity, min: 0, class: " quantity-box custom-select qty-dropdown shopping-cart-item-quantity-input quantity-box jsAddItem jsSubItem ", size: 5, data: { id: dom_id(line_item) }, aria: { label: Spree.t('cart_page.change_quantity') } %>
        <div class="price-size text-right" data-hook="cart_item_price">
          <span><%= line_item.quantity %>x<%= line_item.single_money.to_html%></span> <%= line_item.display_amount.to_html unless line_item.quantity.nil? %> 
        </div>
      </div>
    </li>
  <% end %>
<% end %>


<div class="emptyCartPageSection" style="display:none" >
  <div class="cart-sidebar-body d-flex flex-column justify-content-between"><div class="text-center"><%= image_tag "empty_cart.svg", alt:"Empty Cart" %><h3>Your cart is empty</h3><p>Looks like you haven&lsquo;t made your choice yet...</p><%= link_to  spree.products_path do %><button type="button" class="btn btn-primary"><strong>Shop Now</strong></button><% end %></div></div>
</div>
<%= render partial: 'spree/shared/my_cart'%>
<script>
  cartForm("<%= current_order.try(:number) %>", "<%= current_order.try(:token) %>");
</script>