<!-- <div id="spree-header">
  <header id="header" data-hook>
    <div class="container">
      <div class="row">
        <figure id="logo" class="col-md-4 col-sm-3" data-hook>
          <%= logo %>
        </figure>
        <%#= render partial: 'spree/shared/nav_bar' %>
      </div>
    </div>
  </header>
  <div class="container">
    <%#= render partial: 'spree/shared/main_nav_bar' %>
  </div>
</div>  -->

<header id="header" data-hook>
  <nav class="navbar navbar-expand-xl" id="top-nav-bar">
    <div class="row no-gutters w-100">
      <div id="logo" class="col-xl-2" data-hook>
        <%= link_to root_path, class: 'navbar-brand' do %>
          <%= image_tag 'logo.svg', alt: "Nature's Flavors" %>
        <% end %>
      </div>
      <%= render partial: 'spree/shared/nav_bar' %>
    </div> 
  </nav>
    <%= render partial: 'spree/shared/mobile_menu' %>
</header>
