 <div class="mobile-menu">
  <div class="menu-scroll">
    <div class="sub-menu-header d-flex align-items-center">
      <div class="left d-flex align-items-center flex-fill text-uppercase"><%= link_to "Home", root_path %></div>
      <div class="right d-flex align-items-center flex-fill">
        <% if spree_current_user.present? %>
          <%= link_to destroy_spree_user_session_path do %>
            <em class="text-uppercase">Log out</em>
          <% end %>
        <% else %>
          <%= link_to "Log in", new_spree_user_session_path %>
           
          <%= link_to new_spree_user_registration_path, class: "btn" do %>
           or <em class="text-uppercase">Register</em>
          <% end %>
        <% end %>
      </div>
    </div>
    <div id="menu">
      <ul class="product-menu">
        <% if !(browser.device.mobile?) %> 
          <% if @main_category.present? %>
            <% main_tabs = @main_category.children.present? ? @main_category.children : [] %>
            <% if main_tabs.present? %>
              <% main_tabs.each do |header_category| %>
                <% if spree_current_user.present? ? header_category.users.include?(spree_current_user) : header_category.users.present? %>
                  <li>
                     <%= link_to header_category.name, seo_url(header_category) %>
                     <% if header_category.children.present? %>
                      <ul>
                        <% header_category.children.each do |category| %>
                          <% if spree_current_user.present? ? category.users.include?(spree_current_user) : category.users.present? %>
                            <li>
                              <%= link_to category.name, seo_url(category) %>
                            </li>
                          <% end %> 
                        <% end %>
                      </ul>
                    <% end %>  
                  </li>
                <% end %>
              <% end %>
            <% end %>  
          <% end %>      
          <li><a href="#">Deals</a>
            <ul>
              <li><a href="#">See All Deals</a></li>
              <li><a href="#">Gluten Free Baking</a></li>
              <li><a href="#">Ingredients</a></li>
              <li><a href="#">Gluten Free Baking Mix</a></li>
              <li><a href="#">Organic Gluten Free Baking</a></li>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="sub-menu-wrap">
      <ul class="sub-menu">
        <li><a href="#" class="menuLink">Information</a>
          <div  class="sub-menu-lists">
            <ul>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Best Sellers</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">New Products</a></li>
            </ul>
            <ul>
              <li><a href="#">Shipping</a></li>
              <li><a href="#">Support</a></li>
              <li><a href="#">Terms And Conditions</a></li>
              <li><a href="#">Privacy</a></li>
              <li><a href="#">Returns &amp; Replacements</a></li>
            </ul>
          </div>
        </li>
        <li><a href="#" class="menuLink">Product Info</a>
          <div  class="sub-menu-lists">
            <ul>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Best Sellers</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">New Products</a></li>
            </ul>
            <ul>
              <li><a href="#">Shipping</a></li>
              <li><a href="#">Support</a></li>
              <li><a href="#">Terms And Conditions</a></li>
              <li><a href="#">Privacy</a></li>
              <li><a href="#">Returns &amp; Replacements</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <div class="sub-menu-footer d-flex align-items-center">
      <div class="footer-phone"><a href="tel:1-714-744-3700">1-714-744-3700</a></div>
      <div class="footere-business-hours">
        <p>8:00 am - 5:00 pm,<br>
          Monday - Friday, Pacific Time</p>
      </div>
    </div>
  </div>
</div>

