<nav class="navbar navbar-expand-xl" id="spree-header">
  <div class="row no-gutters w-100" id="header">
    <div class="col-xl-2 position-static" id="home-link" data-hook>
      <%= link_to root_path, class: 'navbar-brand', data: { turbolinks: false } do %>
        <%= image_tag 'theme_logo.svg', alt: "Go to Nature's Flavors Homepage" %>
      <% end %>
    </div>      
    <div class="col-xl-8 position-static" id="top-nav-bar" role="search">
      <%= render partial: 'spree/shared/search' %>
    </div>
    <div class="col-xl-2 position-static">
      <div class="navbar-collapse" id="nav-bar">
        <div id="search-dropdown" class=" quick-menu ml-auto header-spree" >
          <div id="account-button">
            <% if spree_current_user.present? %>
              <%= link_to account_path, :class => 'nav-profile tablet-hide', 'aria-label': 'My Profile: Orders, Wishlist and Settings' do %>
                <span id="span">Profile</span>
              <% end %>            
            <% else %>
              <%= link_to new_spree_user_session_path, :class => 'nav-profile tablet-hide', 'aria-label': 'Sign In' do %>
                <span id="span">Login</span>    
              <% end %>
            <% end %>
          </div>
          <div id="link-to-cart">
            <% item_count = current_order.present? ? (order_just_completed?(current_order) ? 0 : current_order.item_count) : 0 %>
            <%= render 'spree/shared/cart', item_count: item_count, size: 36 %>
          </div>
          <a class="mobile-menu-link collapsed tablet-visible" href="#" data-toggle="collapse" data-target=".mobile-menu" area-expanded="false"><span>Menu</span></a>
        </div>
        <div id='shopping_cart_bag_area'>
          <%= render partial: 'spree/shared/shopping_bag', locals: {user_current_order: current_order} %>
        </div>
      </div>
    </div>

    <div class="navbar-new" role="navigation" data-acsb-main-menu="true" aria-label="Main Menu">
      <ul class="navbar-nav tablet-hide">
          <li class="nav-item"><a class="nav-link" href="/" aria-label="Nature's Flavors Home Page">Home</a>
      <% if @all_categories.present? %>
        <% cache cache_key_for_all_categories(@all_categories) do %>
        <% @all_categories.each do |menu_category| %>
          <li class="nav-item">
            <%= link_to menu_category.name, seo_url(menu_category), class: "nav-link", 'aria-label': "Menu "+menu_category.name, data: { turbolinks: false } %>
            <div class="dropdown-menu-wrap">
            <ul>
              <% menu_category.children.in_groups_of(6) do |categories|%>
                <% categories.compact.each do |category| %>
                  <li>
                      <!-- Sub Menu -->
                        <% if category.children.present? %>
                          <ul class="dropdown-menu-wrap-sub">
                          <% category.children.each do |sub_category| %>
                            <li><%= link_to sub_category.name, seo_url(sub_category), data: { turbolinks: false } %></li>
                          <% end %>
                          </ul>
                        <% end %>
                      <!-- Sub Menu End -->
                    <% if category.children.any? %> 
                      <%= link_to category.name, seo_url(category), class: "dropdown-menu-sub", data: { turbolinks: false } %> 
                    <% else %>
                      <%= link_to category.name, seo_url(category), data: { turbolinks: false } %> 
                    <% end %> 
                  </li>
                <% end %>
              <% end %>
            </ul>
            <%= link_to seo_url(menu_category), class: "menu-see-all", data: { turbolinks: false } do %>See All <strong><%= menu_category.name%></strong><% end %>
            </div>
          </li>
        <% end %>
        <% end %>
      <% end %>
        <li class="nav-item"><%= link_to 'Flavorful Bites Blog', "https://blog.naturesflavors.com", class: "nav-link", target: "_blank" %></li>
      <% if spree_current_user.present? && spree_current_user.has_spree_role?('employee') && @special_catetories.present? %>
        <li class="nav-item">
          <%= link_to "Special", "#", class: "nav-link" %>
          <div class="dropdown-menu-wrap">
            <ul>
              <% @special_catetories.in_groups_of(6) do |categories| %>
                <% categories.compact.each do |category| %>
                  <li><%= link_to category.name, seo_url(category), data: { turbolinks: false } %></li>
                <% end %>
              <% end %>
            </ul>
          </div>
        </li>
      <% end %>
      <% if spree_current_user.present? && !spree_current_user.has_spree_role?('employee') && @special_catetories.present? %>
        <% @special_catetories.each do |category| %>
          <li class="nav-item"><%= link_to category.name, seo_url(category), class: "nav-link", data: { turbolinks: false } %></li>
        <% end %>
      <% end %>
      <% products_on_sale = Spree::Product.in_sale.present? ? true : false %>
      <% if products_on_sale %>
        <li class="nav-item"><a class="nav-link" href="/sale" data-turbolinks="false"><strong>Deals</strong></a></li>
      <% end %>  
      <% if spree_current_user.present? && spree_current_user.has_spree_role?('employee') %>
        <li class="nav-item"><%= link_to 'Admin', admin_path, class: "nav-link", data: { turbolinks: false } %></li>
      <% end %>
      </ul>
    </div>
  </div> 
</nav>