<div class="card-wrap <%=  is_default ? 'default' : '' %>">
	<div class="is-default text-right text-of-card-<%= card.id %> js-set-cc-as-default" data-cc-id="<%= card.id %>">
		<%=  is_default ? 'Default' : 'Set as Default' %>
	</div>
	<p>
		<%= payment_source.name %><br />
		<% if payment_source.last_digits %>
		<span>**** **** ****</span><span><%= payment_source.last_digits %></span><br />
		<% end %>
		<%= Spree.t(:exp) %>: <%= payment_source.month %> / <%= payment_source.year %>
	</p>
	<% if !is_default %>
		<%= link_to user_credit_card_path(payment_source), method: :delete, confirm: Spree.t(:are_you_sure), :remote => remote_option   do %>
			<button type="button" class="btn btn-text">Delete This Card</button>
		<% end %>
	<% end  %>
</div>






