<% url = spree.product_path(product, taxon_id: @taxon&.id) %>
<div class="col-xl-2 col-lg-4 col-sm-6">
  <div class="product-wrap" id="product_<%= product.id %>" data-hook="sale_product_list_item">
    <%= link_to url, data: { turbolinks: false } do %>
      <div class="product-img">
        <%= plp_and_carousel_image(product, image_class) %>
        <div class="price">
          <% if product&.sale_prices&.active&.present? %>
            <span> <%= display_original_price(product.lowest_sale_price.price.variant) %></span><%= product.lowest_sale_price.display_price %>
          <% else %>
            <%= display_price(product) %>
          <% end %> 
        </div>
      </div>
      <div class="product-desc"><span class="ending-badge">Sale</span>
        <h4><%= product.name %></h4>
      </div>
    <% end %>
  </div>
</div>