<% @order = user_current_order %>
<aside class="cart-sidebar-wrapper">
  <div class="overlay"></div>
  <div class="cart-sidebar" data-hook="cart_container" >
    <div class="cart-sidebar-header">
      <div class="cart-sidebar-title">My Cart</div>
      <button type="button" class="btn close-sidebar-btn">Close</button>
    </div>
    <% if  @order.present? && @order&.line_items.present? %>
      <div class="cart-sidebar-body d-flex flex-column justify-content-between">
        <%= form_for @order, url: update_cart_path, html: { id: 'update-cart' } do |order_form| %>
          <ul class="cart-items empty-cart-area" data-hook="inside_cart_form">
            <%= render partial: 'spree/shared/cart_box', locals: { order_form: order_form } %>
            <li class="grand-total d-flex align-items-center justify-content-between">Total:<strong class="js-product-total"><%= @order.display_total %></strong></li>
          </ul>
          <div class="body-sidebar-footer">
            <div class="cart-similar-item">
              <div class="wrap">
                <p>You might need this:</p>
                <div class="similar-item-thumb"><%= image_tag "product-thumb-1.jpg", alt:"" %></div>
                <h4><a href="#">Acorn Flavored Powder, Natural (8 oz.)</a></h4>
                <a href="#" class="btn btn-primary">$14.70  - Add to Cart</a> </div>
            </div>
            <%= link_to spree.checkout_path do %>
              <button type="button" class="btn btn-primary btn-block"><strong class="js-product-total"><%= @order.display_total %> - Check Out</strong></button>
            <% end %>
          </div>
        <% end %> 
      </div>
    <% else %>
      <%= render partial: 'spree/shared/empty_cart_sidebar' %>
    <% end %>  
  </div>
</aside>

