<% @order = user_current_order %>
<aside class="cart-sidebar-wrapper">
  <div class="overlay"></div>
  <div class="cart-sidebar" data-hook="cart_container" id="js-drawer" >
    <div class="cart-sidebar-header">
      <div class="cart-sidebar-title">My Cart</div>
      <button type="button" class="btn close-sidebar-btn">Close</button>
    </div>
    <% if  @order.present? && @order&.line_items.present? %>
      <div class="cart-sidebar-body d-flex flex-column justify-content-between">
        <%= form_for @order, url: update_cart_path, html: { id: 'update-cart' } do |order_form| %>
          <ul class="cart-items empty-cart-area" data-hook="inside_cart_form">
            <%= render partial: 'spree/shared/cart_box', locals: { order_form: order_form } %>
            <li class="grand-total d-flex align-items-center justify-content-between">Total:<strong class="js-product-total"><%= @order.display_total %></strong></li>
          </ul>
          <div class="body-sidebar-footer">
            <%= render partial: 'spree/shared/sidebar_footer' %>
          </div>
        <% end %> 
      </div> 
    <% else %>
      <%= render partial: 'spree/shared/empty_cart_sidebar' %>
    <% end %>  
  </div>
</aside>

