<div class="footer-links-wrap">
   <div class="row no-gutters">
      <div class="col-xl-2 tablet-hide"></div>
      <div class="col-xl-2 col-lg-4">
         <div class="footer-logo-wrap">
            <figure>  <%= image_tag 'footer_logo.svg', alt: "Nature's Flavors" %></figure>
            <p>Family owned and run for over 40 years. It is our mission to spread the Natural and Organic bounty of nature through our products.</p>
         </div>
         <ul class="footer-nav">
            <li class="header">Information</li>
            <li><%= link_to('About Us', about_us_path) %></li>
            <li><a href="https://blog.naturesflavors.com/videos/" target="_blank">Flavorful Bites Blog</a></li>
            <li><%= link_to "Contact Us", contact_us_path %></li>
            <li><%= link_to "Make a Beverage", beverage_development_path %></li>
            <li><%= link_to "Shipments & Delivery", shipments_delivery_path %></li>
            <li><%= link_to "Returns", returns_path %></li>
            <li><%= link_to "Terms & Conditions", terms_and_conditions_path %></li> 
            <li><%= link_to "Privacy Policy", privacy_path %></li>        
            <li><a href="https://app.termly.io/notify/dbb05b70-45e7-458a-a7d5-fc3491d4c67a" target="_blank">DSAR Form</a></li>
            <li><a onclick="displayPreferenceModal()">Manage Cookie Preferences</a></li>
         </ul>
      </div>
      <div class="col-xl-2 col-lg-4">
         <%= render partial: 'spree/shared/mailchimp_subscribe_form' %>
         <ul class="footer-nav">
            <li class="header">Our Brands</li>
            <li><a href="https://www.naturesflavors.com/" target="_blank">Nature's Flavors</a></li>
            <li><a href="https://www.naturlax.com/" target="_blank">Naturlax</a></li>
            <li><a href="https://www.seelecttea.com/" target="_blank">Seelect Tea</a></li>
            <li><a href="https://www.yummatchatea.com/" target="_blank">Yum Matcha</a></li>
          </ul>
      </div>
      <div class="col-xl-2 col-lg-4">
         <div class="footer-spacer"></div>
         <ul class="footer-nav">
            <li class="header">Product Info</li>
            <li><%= link_to('Flavor Powders', flavor_powders_path) %></li>
            <li><%= link_to('Flavor Emulsions', flavor_emulsions_path) %></li>
            <li><%= link_to('Flavor Concentrates', flavor_concentrates_path) %></li>
            <li><%= link_to('Flavor Extracts', flavor_extracts_path) %></li>
            <li><%= link_to('Flavor Oils', flavor_oils_path) %></li>
            <li><a href="#">Reviews</a></li>
            <li><%= link_to('FAQs', faq_path) %></li>
         </ul>
      </div>
      <div class="col-xl-2 col-lg-12">
         <div class="row-tablet-only">
            <div class="col-md-4 col-12">
               <h4>Follow us</h4>
               <ul class="social-nav d-flex flex-wrap align-items-center">
                  <li><a href="http://www.facebook.com/NaturesFlavors" target="_blank" class="facebook-icon">Facebook</a></li>
                  <li><a href="https://www.instagram.com/natures_flavors/" target="_blank" class="instagram-icon">Intagram</a></li>
                  <li><a href="https://www.pinterest.com/naturesflavors" target="_blank" class="pinterest-icon">Pinterest</a></li>
                  <li><a href="https://www.youtube.com/user/NaturesFlavors" target="_blank" class="youtube-icon">Youtube</a></li>
               </ul>
            </div>
            <div class="col-lg-4 mobile-hide">
               <div class="footer-address">
                  <h5>Address</h5>
                  <p>833 N. Elm Street, Orange,<br>California 92867</p>
               </div>
               <div class="footer-phone mobile-hide"><a href="tel:1-714-744-3700">1-714-744-3700</a></div>
            </div>
            <div class="col-lg-4 mobile-hide">
               <div class="footere-business-hours">
                  <h5>Business Hours</h5>
                  <p>8:00 am - 5:00 pm,<br>
                     Monday - Friday, Pacific Time
                  </p>
               </div>
            </div>
         </div>
      </div>
      <div class="col-xl-2 tablet-hide"></div> 
   </div>
   <div class="banner-grid-wrap">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
   </div>
</div>