<div class="instagram-wrapper">
    <div class="container">
        <div class="instagram-btn"><a href="#" target="_blank">Follow us<span>natures_flavors</span></a></div>
        <div class="row narrow-row">
            <div class="col-lg-2 col-md-4 col-6">
                <div class="instagram-img" data-aos="fade-in" data-aos-once="true" data-aos-duration="700">
                    <%= image_tag 'product-thumb-1.jpg' , alt: "" %>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <div class="instagram-img" data-aos="fade-in" data-aos-once="true" data-aos-duration="700">
                    <%= image_tag 'product-thumb-2.jpg' , alt: "" %>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <div class="instagram-img" data-aos="fade-in" data-aos-once="true" data-aos-duration="700">
                    <%= image_tag 'product-thumb-3.jpg' , alt: "" %>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <div class="instagram-img" data-aos="fade-in" data-aos-once="true" data-aos-duration="700">
                    <%= image_tag 'product-thumb-4.jpg' , alt: "" %>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <div class="instagram-img" data-aos="fade-in" data-aos-once="true" data-aos-duration="700">
                    <%= image_tag 'product-thumb-5.jpg' , alt: "" %>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <div class="instagram-img" data-aos="fade-in" data-aos-once="true" data-aos-duration="700">
                    <%= image_tag 'product-thumb-6.jpg' , alt: "" %>
                </div>
            </div>
        </div>
    </div>
</div>
