<div class="site-reviews-wrapper">
  <div class="title-wrap text-center">
     <div class="reviews-title-icon"></div>
     <div class="title">Nature's Flavors Reviews and Testimonials</div>
     <div class="sm-title">Real Reviews From Real Customers</div>
  </div>
  <div class="slider-wrapper reviews-wrap position-relative">
     <ul id="reviews-slider" class="ontent-slider">
        <li data-aos="fade-up" data-aos-once="true" data-aos-duration="700">
           <div class="review-wrap">
              <div class="wrap">
                 <div class="ratings"><%= image_tag 'star.svg', alt: "star" %><%= image_tag 'star.svg', alt: "star" %><%= image_tag 'star.svg', alt: "star" %><%= image_tag 'star.svg', alt: "star" %><%= image_tag 'star.svg', alt: "star" %></div>
                 <p>I purchased the Vanilla flavoring to enhance a tea blend I am developing. The smell and taste was just what it needed to complete my blend.</p>
                 <div class="review-verification d-flex flex-wrap align-items-center"><strong>Karen R.</strong><span class="is-verified">Verified Purchase</span></div>
                 <div class="review-img"><%= image_tag 'product-thumb-1', alt: "" %></div>
                 <div class="review-wrap-footer">Organic Vanilla Coffee and Tea Flavoring</div>
              </div>
           </div>
        </li>
        <li data-aos="fade-up" data-aos-once="true" data-aos-duration="1000">
           <div class="review-wrap">
              <div class="wrap">
                 <div class="ratings"><%= image_tag 'star.svg', alt: "star" %><%= image_tag 'star.svg', alt: "star" %>
                    <%= image_tag 'star.svg', alt: "star" %><%= image_tag 'star.svg', alt: "star" %><%= image_tag 'star.svg', alt: "star" %>
                 </div>
                 <p>I purchased the Vanilla flavoring to enhance a tea blend I am developing. The smell and taste was just what it needed to complete my blend.</p>
                 <div class="review-verification d-flex flex-wrap align-items-center"><strong>Karen R.</strong><span class="is-verified">Verified Purchase</span></div>
                 <div class="review-img"><%= image_tag 'product-thumb-1', alt: "" %></div>
                 <div class="review-wrap-footer">Organic Vanilla Coffee and Tea Flavoring</div>
              </div>
           </div>
        </li>
        <li data-aos="fade-up" data-aos-once="true" data-aos-duration="1300">
           <div class="review-wrap">
              <div class="wrap">
                 <div class="ratings"><%= image_tag 'star.svg', alt: "star" %><%= image_tag 'star.svg', alt: "star" %><%= image_tag 'star.svg', alt: "star" %><%= image_tag 'star.svg', alt: "star" %><%= image_tag 'star.svg', alt: "star" %></div>
                 <p>I purchased the Vanilla flavoring to enhance a tea blend I am developing. The smell and taste was just what it needed to complete my blend.</p>
                 <div class="review-verification d-flex flex-wrap align-items-center"><strong>Karen R.</strong><span class="is-verified">Verified Purchase</span></div>
                 <div class="review-img">><%= image_tag 'product-thumb-1', alt: "" %></div>
                 <div class="review-wrap-footer">Organic Vanilla Coffee and Tea Flavoring</div>
              </div>
           </div>
        </li>
        <li data-aos="fade-up" data-aos-once="true" data-aos-duration="1600">
           <div class="review-wrap">
              <div class="wrap">
                 <div class="ratings"><%= image_tag 'star.svg', alt: "star" %><%= image_tag 'star.svg', alt: "star" %><%= image_tag 'star.svg', alt: "star" %><%= image_tag 'star.svg', alt: "star" %><%= image_tag 'star.svg', alt: "star" %></div>
                 <p>I purchased the Vanilla flavoring to enhance a tea blend I am developing. The smell and taste was just what it needed to complete my blend.</p>
                 <div class="review-verification d-flex flex-wrap align-items-center"><strong>Karen R.</strong><span class="is-verified">Verified Purchase</span></div>
                 <div class="review-img"><%= image_tag 'product-thumb-1', alt: "" %></div>
                 <div class="review-wrap-footer">Organic Vanilla Coffee and Tea Flavoring</div>
              </div>
           </div>
        </li>
        <li data-aos="fade-up" data-aos-once="true" data-aos-duration="1900">
           <div class="review-wrap">
              <div class="wrap">
                 <div class="ratings"><%= image_tag 'star.svg', alt: "star" %><%= image_tag 'star.svg', alt: "star" %><%= image_tag 'star.svg', alt: "star" %><%= image_tag 'star.svg', alt: "star" %><%= image_tag 'star.svg', alt: "star" %></div>
                 <p>I purchased the Vanilla flavoring to enhance a tea blend I am developing. The smell and taste was just what it needed to complete my blend.</p>
                 <div class="review-verification d-flex flex-wrap align-items-center"><strong>Karen R.</strong><span class="is-verified">Verified Purchase</span></div>
                 <div class="review-img"><%= image_tag 'product-thumb-1', alt: "" %></div>
                 <div class="review-wrap-footer">Organic Vanilla Coffee and Tea Flavoring</div>
              </div>
           </div>
        </li>
        <li data-aos="fade-up" data-aos-once="true" data-aos-duration="2200">
           <div class="review-wrap">
              <div class="wrap">
                 <div class="ratings"><%= image_tag 'star.svg', alt: "star" %><%= image_tag 'star.svg', alt: "star" %><%= image_tag 'star.svg', alt: "star" %><%= image_tag 'star.svg', alt: "star" %><%= image_tag 'star.svg', alt: "star" %></div>
                 <p>I purchased the Vanilla flavoring to enhance a tea blend I am developing. The smell and taste was just what it needed to complete my blend.</p>
                 <div class="review-verification d-flex flex-wrap align-items-center"><strong>Karen R.</strong><span class="is-verified">Verified Purchase</span></div>
                 <div class="review-img"><%= image_tag 'product-thumb-1', alt: "" %></div>
                 <div class="review-wrap-footer">Organic Vanilla Coffee and Tea Flavoring</div>
              </div>
           </div>
        </li>
     </ul>
     <div class="reviews-btn"> <a href="#" class="btn btn-primary"><span>More then 1400</span>Read All Reviews</a> </div>
  </div>
</div>