<div class="home-videos-wrapper">
   <div class="container-fluid">
      <div class="row">
         <div class="col-lg-2"></div>
         <div class="col-lg-8">
            <div class="wrap">
               <div class="title-wrap d-xl-flex flex-row-reverse align-items-center justify-content-between">
                  <div class="right"> <a href="#" class="youtube-link">More than 20k followers</a></div>
                  <div class="left d-flex align-items-start">
                     <div class="title-img"><%= image_tag 'flavor-guy.jpg', alt: "" %></div>
                     <div class="title-info">
                        <h3 class="title">The Flavor Guy Videos</h3>
                        <div class="sm-title">He goes on adventures around the world in search of new flavors</div>
                     </div>
                  </div>
               </div>
               <div class="slider-wrapper position-relative">
                  <ul id="videos-slider" class="ontent-slider">
                     <li data-aos="fade-up" data-aos-once="true" data-aos-duration="700">
                        <a href="#" class="video-thumb-wrap" data-toggle="modal" data-target=".video-modal">
                           <div class="video-thumb mb-10"> <%= image_tag 'video-thumb-1.jpg', alt: "" %><span class="video-btn">Play</span></div>
                           <h4>Difference between a flavor concentrate and a flavor extract</h4>
                        </a>
                     </li>
                     <li data-aos="fade-up" data-aos-once="true" data-aos-duration="700">
                        <a href="#" class="video-thumb-wrap">
                           <div class="video-thumb mb-10"><%= image_tag 'video-thumb-1.jpg', alt: "" %><span class="video-btn">Play</span></div>
                           <h4>How To Make Alcohol Free Vanilla Extract</h4>
                        </a>
                     </li>
                     <li data-aos="fade-up" data-aos-once="true" data-aos-duration="700">
                        <a href="#" class="video-thumb-wrap">
                           <div class="video-thumb mb-10"><%= image_tag 'video-thumb-1.jpg', alt: "" %><span class="video-btn">Play</span></div>
                           <h4>Difference between a flavor concentrate and a flavor extract</h4>
                        </a>
                     </li>
                     <li data-aos="fade-up" data-aos-once="true" data-aos-duration="700">
                        <a href="#" class="video-thumb-wrap">
                           <div class="video-thumb mb-10"><%= image_tag 'video-thumb-1.jpg', alt: "" %><span class="video-btn">Play</span></div>
                           <h4>How To Make Alcohol Free Vanilla Extract</h4>
                        </a>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="col-lg-2"></div>
      </div>
   </div>
</div>