<%
   faqs = [
      [
        "What are Flavor Extracts?",
        "Flavor Extracts can be used in baking and clear beverages. Natural flavors and extracts come in many styles, colors, forms, and concentrations. Our Extracts are water soluble flavors made in a base of Natural Ethyl Alcohol. These all natural flavor extracts and organic flavor extracts are food grade, Kosher, vegan, gluten Free. <a href='#{flavor_extracts_url}'>Learn More</a>"
      ],
      [
        "What are Flavor Concentrates?",
        "Flavor concentrates are ideal for use in syrups, ice cream, baked goods, yogurt, beverages, and more. <a href='#{flavor_concentrates_url}'>Learn More</a>"
      ],
      [
        "What are Flavor Oils?",
        "Flavor Oils are used in oil-based products, such as chocolate oil and lip balm oil. <a href='#{flavor_oils_url}'>Learn More</a>"
      ],
      [
        "What are Flavor Powders?",
        "Flavor Powders can be used in smoothies, baked goods, and dry mixes. <a href='#{flavor_powders_url}'>Learn More</a>"
      ],
      [
        "What are Flavor Emulsions?",
        "Flavor Emulsions can be used in soft and hard candy. <a href='#{flavor_emulsions_url}'>Learn More</a>"
      ]
   ]
%>
<% content_for :head do %>
  <script type="text/javascript">
    $(document).on('turbolinks:before-cache', function() {
      $('script[type="application/ld+json"]').each(function() {
        this.parentNode.removeChild(this);
      });
    });
  </script>
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "WebSite",
      "url": "https://www.naturesflavors.com/",
      "potentialAction": {
        "@type": "SearchAction",
        "target": {
          "@type": "EntryPoint",
          "urlTemplate": "https://www.naturesflavors.com/search?keywords={search_term_string}"
        },
        "query-input": "required name=search_term_string"
      }
    }
  </script>
  <%= faqs_structured_data(faqs) %>
<% end %>
<% cache cache_key_for_home_index do %>
<%= organization_structured_data(current_store) %>
<%= render partial: 'spree/shared/slider', locals: { slides: @home_slides, cid: 'home', interval: "3500" } %>
  <div class="search-wrapper ">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-xl-2 tablet-hide"></div>
        <div class="col-xl-6 col-lg-8">
          <div class="search-wrap">
          <div class="search-tags d-flex align-items-start">
            <p>Family-owned and run for over 40 years, it is our mission to spread the natural and organic bounty of nature through our natural flavorings.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 phone-hide">
          <div class="search-tagline">Enjoy flavoring and fragrances the way nature intended!</div>
        </div>
      </div>
    </div>
  </div>
  <% if (browser.device.mobile? || browser.device.tablet?) %>
  <div class="main-category-wrap">
    <div class="row">
      <strong>Jump to: </strong>
      <% if @all_categories.present? %>
      <% @all_categories.each do |category| %>
        <%= link_to category.name, "#categories-#{category.name}", data: { turbolinks: false }, 'aria-label' => "Go to #{category.name}"  %>
      <% end %>
      <% end %>
    </div>
  </div>
  <% end %>
  <div class="home-intro-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-2 tablet-hide"></div>
        <div class="col-xl-6 col-lg-8">
          <div class="intro-wrap">
            <div class="gmp-certificate"></div>
            <h1>Natural and Organic Flavorings, Extracts, Syrups, and Fragrances</h1>
            <p><strong>Nature’s Flavors</strong> is where Mother Nature meets your kitchen. Our natural and organic flavorings are derived from the most remarkable fruits, vegetables, and herbs the earth has to offer. All of our products are made-to-order and delivered to your doorstep.</p>
            <a href="<%= about_us_path %>" data-turbolinks="false" class="btn btn-primary" title="About Nature's Flavors"><span>More About Us</span></a> </div>
        </div>
        <div class="col-xl-4 col-lg-4">
          <div class="company-highlights-wrapper">
            <div class="company-highlights d-flex align-items-start mb-60"  data-aos="fade-up" data-aos-once="true" data-aos-duration="700">
              <div class="icon-wrap delivery-icon"></div>
              <div class="flex-fill">
                <div class="company-title">FAST SHIPPING IN THE U.S.</div>
                <p>1 to 3 days processing time for all non-commercial orders</p>
                <p><small>Nature’s Flavors defines commercial based on order over 1 gallon. Pending availability.</small></p>
              </div>
            </div>
            <div class="company-highlights d-flex align-items-start mb-60" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000">
              <div class="icon-wrap quality-icon"></div>
              <div class="flex-fill">
                <div class="company-title">PURE ORGANIC & NATURAL</div>
                <p>Ingredients sourced from the best producers</p>
              </div>
            </div>
            <div class="company-highlights d-flex align-items-start mb-60" data-aos="fade-up" data-aos-once="true" data-aos-duration="1300">
              <div class="icon-wrap customer-support-icon"></div>
              <div class="flex-fill">
                <div class="company-title">PROMPT CUSTOMER SUPPORT</div>
                <p>A Professional, Knowledgeable Team</p>
                <p><a href="tel:(714) 744-3700">(714) 744-3700</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="products-wrapper home-products-wrapper">
    <div class="row no-gutters">
      <div class="col-xl-2 tablet-hide"></div>
      <div class="col-xl-6 col-lg-8">
        <ul class="nav nav-tabs" role="tablist">
          <% if @deals_products.present? %>
            <li class="nav-item" role="presentation"><a class="nav-link<%= @active_home_tab == 1 ? ' active' : '' %>" data-toggle="tab" href="#deals">Deals</a></li>
          <% end %>
          <% if @popular_extracts_products.present? %>
            <li class="nav-item" role="presentation"><a class="nav-link<%= @active_home_tab == 2 ? ' active' : '' %>" data-toggle="tab" href="#popularExtracts">Popular Extracts</a></li>
          <% end %>
          <% if @popular_powders_products.present? %>
            <li class="nav-item" role="presentation"><a class="nav-link<%= @active_home_tab == 3 ? ' active' : '' %>" data-toggle="tab" href="#popularPowders">Popular Powders</a></li>
          <% end %>
          <% if @popular_oils_products.present? %>
            <li class="nav-item" role="presentation"><a class="nav-link<%= @active_home_tab == 4 ? ' active' : '' %>" data-toggle="tab" href="#popularOils">Popular Oils</a></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="tab-content">
      <div class="tab-pane fade<%= @active_home_tab == 1 ? ' show active' : '' %>" id="deals" role="tabpanel">
        <div class="row no-gutters">
          <% @deals_products.each do |product| %>
            <%= render 'spree/products/product', product: product, image_class: 'product-component-plp-image' %>
          <% end %>
        </div>
      </div>
      <div class="tab-pane fade<%= @active_home_tab == 2 ? ' show active' : '' %>" id="popularExtracts" role="tabpanel">
        <div class="row no-gutters">
          <% @popular_extracts_products.each do |product| %>
            <%= render 'spree/products/product', product: product, image_class: 'product-component-plp-image', cached: true %>
          <% end %>
        </div>
      </div>
      <div class="tab-pane fade<%= @active_home_tab == 3 ? ' show active' : '' %>" id="popularPowders" role="tabpanel">
        <div class="row no-gutters">
          <% @popular_powders_products.each do |product| %>
            <%= render 'spree/products/product', product: product, image_class: 'product-component-plp-image', cached: true %>
          <% end %>
        </div>
      </div>
      <div class="tab-pane fade<%= @active_home_tab == 4 ? ' show active' : '' %>" id="popularOils" role="tabpanel">
        <div class="row no-gutters">
          <% @popular_oils_products.each do |product| %>
            <%= render 'spree/products/product', product: product, image_class: 'product-component-plp-image', cached: true %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <% if (browser.device.mobile? || browser.device.tablet?) %>
  <div id="home-categories">
    <div class="row row-cols-xl-3  row-cols-xs-2 row-cols-lg-2 row-cols-sm-1 no-gutters">
    <% if @all_categories.present? %>
    <% @all_categories.each do |category| %>
      <div class="col col-12" id="categories-<%= category.name %>">
          <div class="sub-categories-preview">
          <%= link_to seo_url(category), data: { turbolinks: false }, title: "All #{category.name} Products" do %>
            <% if browser.device.mobile? %>
               <% if category.icon.present? %>
                  <%= image_tag category.icon.my_cf_image_url(:small), alt:"#{category.name} Image" %> 
               <% else %>
                  <%= image_tag "noimage/default-category-image-small.jpg", alt:"#{category.name} Image" %>
               <% end %>
            <% else %>
               <% if category.icon.present? %>
                  <%= image_tag category.icon.my_cf_image_url(:large), alt:"#{category.name} Image" %> 
               <% else %>
                  <%= image_tag "noimage/default-category-image.jpg", alt:"#{category.name} Image" %>
               <% end %>
            <% end %>
          <% end %>
          <h2><%= link_to category.name, seo_url(category), data: { turbolinks: false }, title: "#{category.name}" %></h2>
          <p><%= raw(category.short_description) %></p>
          <% if category.children %>
            <ul>
              <% category.children.each do |subcategory| %>
                <li><%= link_to subcategory.name, seo_url(subcategory), data: { turbolinks: false }, title: "#{subcategory.name}" %></li>
              <% end %>
            </ul>
          <% end %>
          <%= link_to seo_url(category), class: 'btn btn-primary', data: { turbolinks: false }, title: "See All #{category.name} Products" do %>
            <span>See All <%= category.name %></span>
          <% end %>
        </div>
      </div>
    <% end %>
    <% end %>
    </div>
  </div>
  <% end %>
  <div class="home-videos-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
          <div class="wrap">
            <div class="title-wrap d-xl-flex flex-row-reverse align-items-center justify-content-between">
              <div class="right"> <a href="https://www.youtube.com/c/NaturesFlavors" class="youtube-link" target="_blank">More than 5k subscribers</a></div>
              <div class="left d-flex align-items-start">
                <div class="title-img"><%= image_tag "flavor-guy.jpg", alt:"" %></div>
                <div class="title-info">
                  <h3 class="title"><a href="https://blog.naturesflavors.com/videos/" target="_blank">The Flavor Guy Videos</a></h3>
                  <div class="sm-title">He goes on adventures around the world in search of new flavors.</div>
                </div>
              </div>
            </div>
            <div class="slider-wrapper position-relative">
              <ul id="videos-slider" class="ontent-slider">
                <li data-aos="fade-up" data-aos-once="true" data-aos-duration="700"><a href="https://blog.naturesflavors.com/the-difference-between-a-flavor-concentrate-and-a-flavor-extract/" class="video-thumb-wrap" target="_blank" data-target=".video-modal">
                  <div class="video-thumb mb-10"><%= image_tag "videos/flavor-concentrate-extracs.jpg", alt:"The Difference Between a Flavor Concentrate and a Flavor Extract" %><span class="video-btn"></span></div>
                  <h4>The Difference Between a Flavor Concentrate and a Flavor Extract</h4>
                  </a></li>
                <li data-aos="fade-up" data-aos-once="true" data-aos-duration="700"><a href="https://blog.naturesflavors.com/watch-a-giant-bee-removal-with-the-flavor-guy/" target="_blank" class="video-thumb-wrap">
                  <div class="video-thumb mb-10"><%= image_tag "videos/giant-bee-removal.jpg", alt:"Giant Bee Removal" %><span class="video-btn"></span></div>
                  <h4>Watch a Giant Bee Removal with The Flavor Guy</h4>
                  </a></li>
                <li data-aos="fade-up" data-aos-once="true" data-aos-duration="700"><a href="https://blog.naturesflavors.com/whats-the-difference-between-organic-and-natural/" target="_blank" class="video-thumb-wrap">
                  <div class="video-thumb mb-10"><%= image_tag "videos/difference-organic-natural.jpg", alt:"Difference Between Organic and Natural" %><span class="video-btn"></span></div>
                  <h4>What’s the Difference Between Organic and Natural</h4>
                  </a></li>
                <li data-aos="fade-up" data-aos-once="true" data-aos-duration="700"><a href="https://blog.naturesflavors.com/homemade-alchohol-free-vanilla-extract-recipe/" target="_blank" class="video-thumb-wrap">
                  <div class="video-thumb mb-10"><%= image_tag "videos/how-to-vanilla-extract.jpg", alt:"How To Make Alcohol Free Vanilla Extract" %><span class="video-btn"></span></div>
                  <h4>How To Make Alcohol Free Vanilla Extract</h4>
                  </a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-2"></div>
      </div>
    </div>
  </div>


  <div class="site-reviews-wrapper">
    <div class="title-wrap text-center">
      <div class="reviews-title-icon"></div>
      <div class="title">Nature&apos;s Flavors Reviews and Testimonials</div>
      <div class="sm-title">Real Reviews From Real Customers</div>
    </div>
    <div class="slider-wrapper reviews-wrap position-relative">
      <ul id="reviews-slider" class="ontent-slider">
        <li data-aos="fade-up" data-aos-once="true" data-aos-duration="700">
          <div class="review-wrap">
            <div class="wrap">
              <div class="ratings"><%= image_tag "star.svg", alt:"Rating" %><%= image_tag "star.svg", alt:"Rating" %><%= image_tag "star.svg", alt:"Rating" %><%= image_tag "star.svg", alt:"Rating" %><%= image_tag "star.svg", alt:"Rating" %></div>
              <p>All flavors are accurate and intense - great for my milk frother or directly into coffee!</p>
              <div class="review-verification d-flex flex-wrap align-items-center"><strong>Phillip A.</strong><span class="is-verified">Verified Purchase</span></div>
              <div class="review-img"><a href="/products/hazelnut-flavor-extract-organic" data-turbolinks="false"><%= image_tag "reviews/hazelnut.jpg", alt:"Hazelnut Flavor Extract, Organic" %></a></div>
              <div class="review-wrap-footer">Hazelnut Flavor Extract, Organic</div>
            </div>
          </div>
        </li>
        <li data-aos="fade-up" data-aos-once="true" data-aos-duration="1000">
          <div class="review-wrap">
            <div class="wrap">
              <div class="ratings"><%= image_tag "star.svg", alt:"Rating" %><%= image_tag "star.svg", alt:"Rating" %><%= image_tag "star.svg", alt:"Rating" %><%= image_tag "star.svg", alt:"Rating" %><%= image_tag "star.svg", alt:"Rating" %></div>
              <p>Great quality product, fast turn around time and arrived in good condition. We use to flavor truffles and they’re a great natural flavor oil. Thanks!</p>
              <div class="review-verification d-flex flex-wrap align-items-center"><strong>Mandi D.</strong><span class="is-verified">Verified Purchase</span></div>
              <div class="review-img"><a href="/products/blackberry-flavor-oil-for-chocolate" data-turbolinks="false"><%= image_tag "reviews/blackberry.jpg", alt:"Blackberry Flavor Oil for Chocolate" %></a></div>
              <div class="review-wrap-footer">Blackberry Flavor Oil for Chocolate</div>
            </div>
          </div>
        </li>
        <li data-aos="fade-up" data-aos-once="true" data-aos-duration="1300">
          <div class="review-wrap">
            <div class="wrap">
              <div class="ratings"><%= image_tag "star.svg", alt:"Rating" %><%= image_tag "star.svg", alt:"Rating" %><%= image_tag "star.svg", alt:"Rating" %><%= image_tag "star.svg", alt:"Rating" %><%= image_tag "star.svg", alt:"Rating" %></div>
              <p><strong>Cleanest/Highest Quality Tapioca Syrup we could find.</strong> We use it in Confectionery Manufacturing. The consistency and quality are always top notch. Highly Highly recommend and amazing customer service.</p>
              <div class="review-verification d-flex flex-wrap align-items-center"><strong>Joel A.</strong><span class="is-verified">Verified Purchase</span></div>
              <div class="review-img"><a href="/products/organic-tapioca-syrup" data-turbolinks="false"><%= image_tag "reviews/tapioca.jpg", alt:"Organic Tapioca Syrup" %></a></div>
              <div class="review-wrap-footer">Organic Tapioca Syrup</div>
            </div>
          </div>
        </li>
        <li data-aos="fade-up" data-aos-once="true" data-aos-duration="1600">
          <div class="review-wrap">
            <div class="wrap">
              <div class="ratings"><%= image_tag "star.svg", alt:"Rating" %><%= image_tag "star.svg", alt:"Rating" %><%= image_tag "star.svg", alt:"Rating" %><%= image_tag "star.svg", alt:"Rating" %><%= image_tag "star.svg", alt:"Rating" %></div>
              <p>Wow! Love this the Jalapeño Cotton Candy. It has become a fan favorite for our customers. Sweet with a little heat!</p>
              <div class="review-verification d-flex flex-wrap align-items-center"><strong>Bonnie G.</strong><span class="is-verified">Verified Purchase</span></div>
              <div class="review-img"><a href="/products/jalapeno-cotton-candy-floss-sugar" data-turbolinks="false"><%= image_tag "reviews/jalapeno.jpg", alt:"Jalapeno Cotton Candy Floss Sugar" %></a></div>
              <div class="review-wrap-footer">Jalapeno Cotton Candy Floss Sugar</div>
            </div>
          </div>
        </li>
        <li data-aos="fade-up" data-aos-once="true" data-aos-duration="1900">
          <div class="review-wrap">
            <div class="wrap">
              <div class="ratings"><%= image_tag "star.svg", alt:"Rating" %><%= image_tag "star.svg", alt:"Rating" %><%= image_tag "star.svg", alt:"Rating" %><%= image_tag "star.svg", alt:"Rating" %><%= image_tag "star.svg", alt:"Rating" %></div>
              <p>This is a must-have in our house, worth the shipping costs to us in Canada! Great cherry cola flavor, organic, and way lower in sugar than the commercial brand-name products from the store.</p>
              <div class="review-verification d-flex flex-wrap align-items-center"><strong>Keri P.</strong><span class="is-verified">Verified Purchase</span></div>
              <div class="review-img"><a href="/products/cherry-cola-syrup-organic" data-turbolinks="false"><%= image_tag "reviews/cherrycola.jpg", alt:"Cherry Cola Syrup, Organic" %></a></div>
              <div class="review-wrap-footer">Cherry Cola Syrup, Organic</div>
            </div>
          </div>
        </li>
        <li data-aos="fade-up" data-aos-once="true" data-aos-duration="2200">
          <div class="review-wrap">
            <div class="wrap">
              <div class="ratings"><%= image_tag "star.svg", alt:"Rating" %><%= image_tag "star.svg", alt:"Rating" %><%= image_tag "star.svg", alt:"Rating" %><%= image_tag "star-off.svg", alt:"" %><%= image_tag "star-off.svg", alt:"" %></div>
              <p>A very bright cherry flavor, more akin to maraschino cherry. I was hoping for a deeper true cherry flavor, so maybe your dark cherry flavor is a better option. Overall I enjoy how concentrated these flavor emulsions are...</p>
              <div class="review-verification d-flex flex-wrap align-items-center"><strong>OC</strong><span class="is-verified">Verified Purchase</span></div>
              <div class="review-img"><a href="/products/cherry-flavor-emulsion-for-high-heat-applications" data-turbolinks="false"><%= image_tag "reviews/cherry-emulsion.jpg", alt:"Cherry Flavor Emulsion" %></a></div>
              <div class="review-wrap-footer">Cherry Flavor Emulsion</div>
            </div>
          </div>
        </li>
      </ul>
      <div class="reviews-btn"> <a href="/reviews" class="btn btn-primary" data-turbolinks="false"><span>More than 2000</span>Read All Reviews</a> </div>
    </div>
  </div>

  <div class="media-partners-wrapper">
    <div class="container">
    <div class="sm-title text-center">Our Brands:</div>
      <ul class="media-list d-flex flex-wrap align-items-center justify-content-center">
          <li><a href="https://naturesflavors.com"><%= image_tag "brand-natures-flavors.svg", alt:"Nature's Flavors Website" %></a></li>
          <li><a href="https://www.seelecttea.com/" target="_blank"><%= image_tag "brand-seelect-tea.svg", alt:"Seelect Tea Website" %></a></li>
          <li><a href="https://www.naturlax.com/" target="_blank"><%= image_tag "brand-naturlax.svg", alt:"Naturlax Website" %></a></li>
          <li><a href="https://www.yummatchatea.com/" target="_blank"><%= image_tag "brand-yum-matcha.svg", alt:"Yum Matcha Tea Website" %></a></li>
      </ul>
    </div>
  </div>

  <div class="instagram-wrapper">
    <div class="container">
      <div class="instagram-btn"><a href="https://www.instagram.com/natures_flavors/" target="_blank">Follow us<span>natures_flavors</span></a></div>
      <div class="row narrow-row">
        <div class="col-lg-2 col-md-4 col-6">
          <div class="instagram-img" data-aos="fade-in" data-aos-once="true" data-aos-duration="700"><a href="https://www.instagram.com/p/CinSCRAhThT" target="_blank"><%= image_tag "instagram/nf_instagram_1.jpg", alt:"Espresso Martini" %></a></div>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
          <div class="instagram-img" data-aos="fade-in" data-aos-once="true" data-aos-duration="700"><a href="https://www.instagram.com/p/CjjGMdPPMVD" target="_blank"><%= image_tag "instagram/nf_instagram_2.jpg", alt:"Vanilla Extract & Cupcakes" %></a></div>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
          <div class="instagram-img" data-aos="fade-in" data-aos-once="true" data-aos-duration="700"><a href="https://www.instagram.com/p/CkMkPHMPHMF" target="_blank"><%= image_tag "instagram/nf_instagram_3.jpg", alt:"Pumpkin Candles" %></a></div>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
          <div class="instagram-img" data-aos="fade-in" data-aos-once="true" data-aos-duration="700"><a href="https://www.instagram.com/p/Ce7EVgPvAV2" target="_blank"><%= image_tag "instagram/nf_instagram_4.jpg", alt:"Dip with Chili Pepper Extract" %></a></div>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
          <div class="instagram-img" data-aos="fade-in" data-aos-once="true" data-aos-duration="700"><a href="https://www.instagram.com/p/CkOgBPFvUNx" target="_blank"><%= image_tag "instagram/nf_instagram_5.jpg", alt:"Pumpkin Cocktail with coloring" %></a></div>
        </div>
        <div class="col-lg-2 col-md-4 col-6">
          <div class="instagram-img" data-aos="fade-in" data-aos-once="true" data-aos-duration="700"><a href="https://www.instagram.com/reel/Ck1MYwWPS8k" target="_blank"><%= image_tag "instagram/nf_instagram_6.jpg", alt:"Holiday Cookie Decorating with Natural Colors" %></a></div>
        </div>

      </div>
    </div>
  </div>
  <div class="faqs-wrapper">
    <div class="row no-gutters">
      <div class="col-lg-4">
        <div class="faqs-title-wrap d-lg-flex flex-column align-items-end">
          <div class="title">FAQ</div>
          <div class="sm-title">All your questions about Flavorings, Extracts, Syrups and Fragrances answered.</div>
          <%= link_to faq_path, :class => "btn" do %>
            <span>Visit our FAQ Center</span>
          <% end %>
          </div>
      </div>
      <div class="col-lg-8">
        <div class="accordion" id="faqaccordion">
          <div class="card">
            <div class="card-header">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">What are Flavor Extracts?</button>
              </h2>
            </div>
            <div id="collapseOne" class="collapse show" data-parent="#faqaccordion">
              <div class="card-body">Flavor Extracts can be used in baking and clear beverages. Natural flavors and extracts come in many styles, colors, forms, and concentrations. Our Extracts are water soluble flavors made in a base of Natural Ethyl Alcohol. These all natural flavor extracts and organic flavor extracts are food grade, Kosher, vegan, gluten Free. <%= link_to 'More About Natural Flavors & Extracts?', flavor_extracts_path, :class => 'faq-learn-more' %></div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo">What are Flavor Concentrates?</button>
              </h2>
            </div>
            <div id="collapseTwo" class="collapse" data-parent="#faqaccordion">
              <div class="card-body">Flavor concentrates are ideal for use in syrups, ice cream, baked goods, yogurt, beverages, and more. <%= link_to 'Learn More', flavor_concentrates_path, :class => 'faq-learn-more' %> </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree">What are Flavor Oils?</button>
              </h2>
            </div>
            <div id="collapseThree" class="collapse" data-parent="#faqaccordion">
              <div class="card-body">Flavor Oils are used in oil-based products, such as chocolate oil and lip balm oil. <%= link_to 'Learn More', flavor_oils_path, :class => 'faq-learn-more' %></div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour">What are Flavor Powders?</button>
              </h2>
            </div>
            <div id="collapseFour" class="collapse" data-parent="#faqaccordion">
              <div class="card-body">Flavor Powders can be used in smoothies, baked goods, and dry mixes. <%= link_to 'Learn More', flavor_powders_path, :class => 'faq-learn-more' %> </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFive">What are Flavor Emulsions?</button>
              </h2>
            </div>
            <div id="collapseFive" class="collapse" data-parent="#faqaccordion">
              <div class="card-body">Flavor Emulsions can be used in soft and hard candy. <%= link_to 'Learn More', flavor_emulsions_path, :class => 'faq-learn-more' %> </div>
            </div>
          </div>
         </div>
      </div>
    </div>
  </div>
  <div class="home-blog-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
          <div class="wrap">
            <div class="title-wrap d-xl-flex flex-row-reverse align-items-center justify-content-between">
              <div class="right"> <a href="https://blog.naturesflavors.com" target="_blank" class="blog-link">More from our blog</a></div>
              <div class="left d-flex flex- align-items-start">
                <div class="title-img"><%= image_tag "blog-icon.svg", alt:"Flavorful Bites Blog" %></div>
                <div class="title-info">
                  <h3 class="title"><a href="https://blog.naturesflavors.com/" target="_blank">Flavorful Bites</a><span class="blog-badge">Blog</span></h3>
                  <div class="sm-title text-uppercase">RECIPES | TIPS AND TRICKS | helpful information</div>
                </div>
              </div>
            </div>
            <div class="slider-wrapper position-relative">
              <ul id="blog-slider" class="ontent-slider">
                <li data-aos="fade-up" data-aos-once="true" data-aos-duration="700"><a href="https://blog.naturesflavors.com/how-to-make-a-homemade-soda/" target="_blank" class="video-thumb-wrap">
                  <div class="video-thumb mb-10"><%= image_tag "blog/home-made-soda.jpg", alt:"How to Make Homemade Sodas" %></div>
                  <h4>How to Make Homemade Sodas</h4>
                  </a></li>
                <li data-aos="fade-up" data-aos-once="true" data-aos-duration="700"><a href="https://blog.naturesflavors.com/add-citric-acid-powder-to-your-kitchen-recipe/" target="_blank" class="video-thumb-wrap">
                  <div class="video-thumb mb-10"><%= image_tag "blog/citric-acid-powder.jpg", alt:"Citric Acid Powder" %></div>
                  <h4>Add Citric Acid Powder to Your Kitchen (Recipe)</h4>
                  </a></li>
                <li data-aos="fade-up" data-aos-once="true" data-aos-duration="700"><a href="https://blog.naturesflavors.com/why-you-need-essential-oils-for-better-sleep/" target="_blank" class="video-thumb-wrap">
                  <div class="video-thumb mb-10"><%= image_tag "blog/better-sleep.jpg", alt:"Why You Need Essential Oils For Better Sleep" %></div>
                  <h4>Why You Need Essential Oils For Better Sleep</h4>
                  </a></li>
                <li data-aos="fade-up" data-aos-once="true" data-aos-duration="700"><a href="https://blog.naturesflavors.com/how-to-use-natural-food-colorings/" target="_blank" class="video-thumb-wrap">
                  <div class="video-thumb mb-10"><%= image_tag "blog/food-colorings.jpg", alt:"How to Use Natural Food Colorings to Get the Best Results" %></div>
                  <h4>How to Use Natural Food Colorings to Get the Best Results</h4>
                  </a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-2"></div>
      </div>
    </div>
  </div>
  <% end %>