<!-- <%# @body_id = 'login' %>
<div class="col-md-6 <%= request.path == spree.login_path ? "col-md-offset-3" : "" %>">
 <div class="panel panel-default">
     <div class="panel-heading">
       <h3 class="panel-title"><%#= Spree.t(:login_as_existing) %></h3>
   </div>
     <div id="existing-customer" class="panel-body" data-hook="login">
         <%#if flash[:alert] %>
           <div class="alert alert-danger"><%= flash[:alert] %></div>
         <% #end %>
         <%#= render :partial => 'spree/shared/login' %>
         <div class="text-center">
           <%#= Spree.t(:or) %> 
               <%#= link_to Spree.t(:create_a_new_account), spree.signup_path %> |
               <%#= link_to Spree.t(:forgot_password), spree.recover_password_path %>
         </div>
         <div data-hook="login_extras"></div>
     </div>
 </div>
</div>   -->
<% @body_id = 'login' %>
<main class="page-contents">
  <div class="signin-wrapper">
     <div class="row no-gutters">
        <div class="col-lg-6">
           <div id="existing-customer"  data-hook="login">
              <%if flash[:alert] %>
                 <%= flash[:alert] %>
              <% end %>
              <%= render :partial => 'spree/shared/login' %> 
           </div>
           <div data-hook="login_extras"></div>
        </div>
        <div class="col-lg-6">
           <div class="latest-deals">
              <div class="title-wrap d-flex align-items-start justify-content-between margin-0">
                 <div class="left">
                    <div class="sm-title">Natures Flavors</div>
                    <h3 class="title">Latest Deals</h3>
                 </div>
                 <div class="right"><a href="#" class="btn btn-primary">All Deals</a></div>
              </div>
              <div class="products-wrapper d-sm-flex align-items-start">
                 <div class="product-wrap">
                    <a href="#">
                       <div class="product-img">
                          <%= image_tag "product-thumb-1.jpg" %>
                          <div class="price"><span>$24.51</span>$13.51</div>
                       </div>
                       <div class="product-desc">
                          <h4>Acorn Flavored Powder, Natural</h4>
                       </div>
                    </a>
                 </div>
                 <div class="product-wrap">
                    <a href="#">
                       <div class="product-img">
                          <%= image_tag "product-thumb-2.jpg" %>
                          <div class="price"><span>$24.51</span>$13.51</div>
                       </div>
                       <div class="product-desc">
                          <h4>Acai Compound, Natural</h4>
                       </div>
                    </a>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</main>